<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/1%EC%9C%A0%ED%98%95_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Min-max 정규화 : (데이터 - min(데이터)) / (max(데이터)-min(데이터))
# z-점수 표준화 : (데이터 - 데이터.mean()) / 데이터.std()
# 비닝 : pd.cut(데이터, bins=[])
# 데이터 분리 : df.iloc[:?]
# 누적합 : cumsum()

# 시계열 데이터
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

# 데이터 결합(b1을 기준으로 결합)
df = pd.merge(left = b1 , right = b3, how = "left", on = "f4")

#1일 차이가 나는 시차 특성 만들기
df['previous_PV'] = df['PV'].shift(1)

In [3]:
# 연습문제 1

# 데이터셋의 Wheelbase 컬럼에 대해서
# 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의
# 구간 내의 데이터들의 평균을 각각 구한 후
# 원래의 데이터 평균에서 뺐을 때 차이들의 합을 출력하여라.
# (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

import pandas as pd
df = pd.read_csv('Cars93.csv')

Wheelbase = df['Wheelbase']
avg = Wheelbase.mean()
sd = Wheelbase.std()

low1 = avg - 1.5 * sd
high1 = avg + 1.5 * sd

low2 = avg - 2 * sd
high2 = avg + 2 * sd

low3 = avg - 2.5 * sd
high3 = avg + 2.5 * sd

a1 = Wheelbase[(Wheelbase > low1)&(Wheelbase<high1)].mean()
a2 = Wheelbase[(Wheelbase > low2)&(Wheelbase<high2)].mean()
a3 = Wheelbase[(Wheelbase > low3)&(Wheelbase<high3)].mean()

result = (avg-a1) + (avg-a2) + (avg-a3)
print(round(result,4))

0.4845

In [8]:
# 연습문제 2

# Length 컬럼에 대해서 순위를 부여한 후
# 1위부터 30위까지 값들의 표준 편차를 구하고
# 소수점 셋째 자리까지 반올림하여 나타내어라
# 단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함

import pandas as pd
df = pd.read_csv('Cars93.csv')

rank = df['Length'].rank(method='average')
sd = df['Length'][rank<=30].std()
print(round(sd,3))

8.884

In [11]:
# 연습문제 3

# 데이터셋의 Max_Price 컬럼에 대해서 각각 정렬한 후
# 정렬된 순서에 따라 레코드별로 Max_Price 와 Min_Price 의 차이를 산출하고 차이값에 대해 표준편차를 구하여라
# 단, Max_Price의 정렬은 내림차순, Min_Price의 정렬은 오름차순
# 출력시 표준 편차는 소수점 넷째 자리에서 반올림하여 표현할 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

Max_Price = df['Max_Price'].sort_values(ascending=False, ignore_index=True)
Min_Price = df['Min_Price'].sort_values(ignore_index=True)

diff = Max_Price - Min_Price
sd = diff.std()

print(round(sd,3))

18.584

In [16]:
# 연습문제 4

# Weight 컬럼을 Min-Max 정규화로 변환한 후,
# 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라
# 단, 차이는 큰 값에서 작은 값을 빼서 구하며,
# 소수점 넷째 자리에서 반올림하여 표현할 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

Weight = df['Weight']
a = (Weight - min(Weight)) / (max(Weight) - min(Weight))

var1 = a[a < 0.5].var()
var2 = a[a > 0.5].var()

result = abs(var1 - var2)
print(round(result,3))

0.001

In [20]:
# 연습문제 5

# Manufacturer, Origin 컬럼의 유일값 조합의 수와
# Manufacturer 컬럼의 앞 두글자만 추출한 결과와
# Origin 컬럼과의 유일값 조합 수의 차이를 구하여라.
# 단, 원래 유일값 조합 수에서 추출 이후 수를 뺄 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

uniq = df[['Manufacturer','Origin']].drop_duplicates()
num = uniq.shape[0]

df['m'] = df['Manufacturer'].str[:2]

uniq2 = df[['m','Origin']].drop_duplicates()
num2 = uniq2.shape[0]

diff = num - num2
print(diff)

4

In [21]:
# 연습문제 6

# Type, Man_trans_avail에 대한 그룹별 RPM 레코드 수와
# RPM 합계, 중앙값을 모두 구한 후,
# 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서
# 나온 결과의 총 원소 합을 구하여라
# 단, 출력 시 소수점은 첫째 자리에서 반올림하여 표현할 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

num = df.groupby(['Type','Man_trans_avail']).RPM.count()
sum = df.groupby(['Type','Man_trans_avail']).RPM.sum()
median = df.groupby(['Type','Man_trans_avail']).RPM.median()

diff = median - (sum/num)
result = diff.sum()
print(round(result,0))

442.0

In [22]:
# 연습문제 7

# RPM 컬럼의 결측치를 평균으로 대체하고
# RPM와 Wheelbase 컬럼을 각각 z-점수 표준화한 후
# 표준화된 Wheelbase에 상수 -36을 곱한 값과
# 표준화된 RPM 컬럼의 차이값을 구하고 표준편차를 산출하여라
# 단, 소수점 셋째 자리까지 반올림하여 표현할 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

avg = df['RPM'].mean()
df['RPM'] = df['RPM'].fillna(avg)

RPM_z = (df['RPM'] - df['RPM'].mean()) / df['RPM'].std()
Wheelbase_z = (df['Wheelbase'] - df['Wheelbase'].mean()) / df['Wheelbase'].std()

diff = (Wheelbase_z*(-36)) - (RPM_z)
sd = diff.std()

print(round(sd,3))

35.561

In [38]:
# 연습문제 8

# Price 컬럼의 결측치를 평균으로 대체하고
# Max_Price 변수와 Min_Price의 평균보다 작은 레코드만을 추출해
# 산출된 Origin 그룹별 Price의 합계를 구하고
# 다음으로 Price 컬럼의 결측치를 중앙값으로 대체하고
# Price 컬럼이 Min_Price 컬럼의 제 3사분위수보다 작은 레코드만을 추출해
# 산출된 Origin별 Price의 합계를 Origin 그룹별로 합한 후 큰 값을 출력하여라.
# 단, 소수점 이하는 모두 절삭하여 정수로 표현할 것

import pandas as pd
df = pd.read_csv('Cars93.csv')

df1 = df.copy()
df2 = df.copy()

avg = df1['Price'].mean()
df1['Price'] = df1['Price'].fillna(avg)

MinMax_avg = df1[['Max_Price','Min_Price']].mean(axis=1)
under_avg = df1[df1['Price'] < MinMax_avg]

s = under_avg.groupby('Origin').Price.sum()

medi = df2['Price'].median()
df2['Price'] = df2['Price'].fillna(medi)

q3 = df2['Min_Price'].quantile(0.75)
under_q3 = df2[df2['Price']<q3]

s2 = under_q3.groupby('Origin').Price.sum()

m = (s + s2).max()

import numpy as np

result = int(np.floor(m))
print(result)

856

In [39]:
# 연습문제 9

# Price 컬럼은 Min_Price와 Max_Price의 평균으로 알려져있다.
# 이와 같은 사실을 통해 'Price' 컬럼의 결측치의 원래의 값을 계산한 후
# 'Price' 가 14.7보다 작거나 25.5보다 크면서 'Large' 타입인 레코드 수를 계산해라

import pandas as pd
df = pd.read_csv('Cars93.csv')

m = (df['Max_Price'] + df['Min_Price'])/2
df['Price'] = df['Price'].fillna(m)

result = df[(df['Price'] < 14.7) | ((df['Price'] > 25.5)&(df['Type']=='Large'))]
print(result.shape[0])

35

In [52]:
# 연습문제 10

# Make 컬럼을 이용하여
# 제조사가 Chevrolet, Pontiac, Hyundai 이면서
# AirBags이 Drive에만 있는 경우인 레코드 수를 계산해라

import pandas as pd
df = pd.read_csv("Cars93.csv")

Make = df['Make'].copy()
AirBags = df['AirBags'].copy()

Make = Make.str.strip()

cond = Make.str.startswith(('Chevrolet', 'Pontiac', 'Hyunda'))
cond2 = (AirBags == 'Driver only')

result = (cond&cond2).sum()
print(result)

3

In [54]:
# 연습문제 11

# Dose 컬럼의 제 3사분위수와 제 2사분위수를 구하고
# 두 값의 차이의 절댓값을 구한 후
# 소수점을 버린 값을 출력하여라

import pandas as pd
df = pd.read_csv('Rabbit.csv')

q2 = df['Dose'].quantile()
q3 = df['Dose'].quantile(0.75)

diff = abs(q3-q2)
result = diff.astype('int64')
print(result)

62

In [60]:
# 연습문제 12

# medv 컬럼에 대해서 동일한 폭으로 binning 한 후
# 가장 많은 빈도를 가지는 구간을 산출하고
# 해당 구간 내 dis 컬럼의 중앙값을 구하여라
# 폭은 10을 기준으로 하고
# 소수점은 둘째 자리까지 나타내시오.

import pandas as pd
df = pd.read_csv('Boston.csv')

bin = pd.cut(df['medv'], bins = [10, 20, 30, 40, 50])
m = bin.value_counts().idxmax()

cond = (bin == m)
med = df['dis'][cond].median()
print(round(med,2))

3.95

In [61]:
# 연습문제 13

# 1번째 ~ 122번째 레코드와 123번째 이후 레코드로 데이터셋을 분리하고
# 각 데이터별로 thickness 컬럼을 z-score 정규화로 변환한 후
# -1과 1 사이 값들의 중앙값을 각각 산출한 후
# 합계를 구해라
# 단, z-score 정규화 변환 계산에 사용되는 평균과 표준편차는 분리된 것과 관계없이
# 1번째 ~ 123번째 레코드로 이루어진 데이터셋을 기준으로 하고
# 출력 시 소수점 넷째 자리까지 반올림하여 나타낼 것
# 레코드 번호는 가장 위에 위치한 레코드를 1번으로 가정

import pandas as pd
df = pd.read_csv('Melanoma.csv')

fir = df.iloc[:123]
sec = df.iloc[123:]

z1 = (fir['thickness'] - fir['thickness'].mean()) / fir['thickness'].std()
z2 = (sec['thickness'] - fir['thickness'].mean()) / fir['thickness'].std()

s_z1 = z1[(z1 >= -1)&(z1 <= 1)]
s_z2 = z2[(z2 >= -1)&(z2 <= 1)]

med1 = s_z1.median()
med2 = s_z2.median()

result = med1 + med2
print(round(result,4))

-1.0027

In [69]:
# 모의고사 1회-(1)

# 제공된 데이터의 Sepal.Width 컬럼에 대해
# Sepal.Width의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라

import pandas as pd
df = pd.read_csv('iris.csv')

Sepal_Width = df['Sepal.Width'].copy()

avg = Sepal_Width.mean()
sd = Sepal_Width.std()

up = avg + sd * 3
down = avg - sd * 3

result = Sepal_Width[(Sepal_Width > up) | (Sepal_Width < down)].sum()
print(result)

4.4

In [70]:
# 모의고사 1회-(2)

# 제공된 데이터의 disp 컬럼에 대해서 순위를 부여한 후,
# 1위부터 20위까지의 값들의 표준편차를 구하고
# 소수점 셋째 자리에서 반올림하여 나타내어라
# 단 동점은 동일한 순위를 부여하되 상위 등수를 기준으로 하며 최댓값을 1위로 함

import pandas as pd
df = pd.read_csv('mtcars1.csv')

rank = df['disp'].rank(method='min', ascending=False)

sd = df['disp'][rank <= 20].std()

print(round(sd, 2))

97.47

In [83]:
# 모의고사 1회-(3)

# 전체 레코드 수, 결측치가 있는 컬럼의 수, 전체 결측치 수,
# 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수와
# 두 개 이상의 컬럼이 동시에 결측인 레코드의
# 행 번호들의 합을 구한 후 모두 합하여라

import pandas as pd
df = pd.read_csv('Cars93.csv')

case1 = df.shape[0]
case2 = (df.isna().sum() != 0).sum()
case3 = (df.isna().sum()).sum()

over10 = df.columns[df.isna().sum() >= 10]

sub = df[over10].copy()
case4 = len(sub.dropna())

over2 = df.index[df.isna().sum(axis=1) >= 2]
sub2 = list(over2)
case5 = sub2.sum(). # 안됨

result = case1 + case2 + case3 + case4 + case5
print(result)

TypeError: 'Series' object is not callable

In [87]:
# 모의고사 2회-(1)

# UrbanPop 컬럼이 60이상인 지역 중
# Murder 컬럼과 Assault 컬럼의 합 대비
# Assault 컬럼의 비율이 0.05 이상인 레코드 수를 구하여라

import pandas as pd
df = pd.read_csv('USArrests.csv')

df['S'] = df['Murder'] + df['Assault']
df['ratio'] = df['Assault']/df['S']

result = df[(df['UrbanPop'] >= 60) & (df.ratio >= 0.05)]
print(result.shape[0])

33

In [93]:
# 모의고사 2회-(2)

# Fertility 컬럼에 대해서 내림차순으로 정렬한 후
# 정렬한 데이터를 기준으로 홀수번째 레코드들의 평균에서
# 짝수번째 레코드들의 평균을 뺀 값을 구하여라
# 단, 첫번째 행에 있는 데이터를 1번으로 하고 결과는 소수점 넷째 자리에서 반올림하여 표현

import pandas as pd
df = pd.read_csv('swiss.csv')

fer = df['Fertility'].sort_values(ascending=False)

import numpy as np
idx = np.arange(1,48)

odd = idx % 2 == 1
even = idx % 2 == 0

diff = fer[odd].mean() - fer[even].mean()
print(round(diff,3))

-0.453

In [102]:
# 모의고사 2회-(3)

# Type 컬럼이 Mississippi 이면서
# conc 컬럼에서 백의 자리 또는 일의 자리가 5인 경우 레코드들의 수를 구하여라

import pandas as pd
df = pd.read_csv('CO2.csv')

df['Type'] = df['Type'].str.replace('/','')

case1 = df['Type']=='Mississippi'
cond = df['conc'] // 100 == 5
cond2 = df['conc'] // 10 == 5

case2 = cond|cond2

result = df[case1&case2].shape[0]
print(result)

6

In [127]:
# 모의고사 3회-(1)

# 미국의 경제와 관련된 데이터의 일부이다.
# 데이터 수집 연도별 실업자 수의 월평균이 가장 큰 연도의 실업자 수의 분산을 계산하여라
# 단, 출력시 단위를 만명 단위로 변환하고 반올림하여 둘째 자리까지 출력할 것

import pandas as pd
df = pd.read_csv('economics.csv', encoding = 'cp949')

df['데이터수집월'] = df['데이터수집월'].str.replace(' ','')
df['연도'] = df['데이터수집월'].str[:4]

월평균 = df.groupby('연도').실업자수_천명.mean()

result = df[df['연도'] == 월평균.idxmax()]['실업자수_천명'].var()

print(round(result/1000, 2))

111.13

In [133]:
# 모의고사 3회-(2)

# US 항공사 승객 만족도 조사 데이터의 일부이다.
# 연령대(Ages)별로 출발 시 지연된 시간(Departure_Delay_in_Minutes)의 평균을 구하고
# 평균 시간이 가장 긴 연령대의 로얄 등급(Customer_Type가 L인 경우)의 인원 수를 계산해라
# 단, 결과 출력시 정수로 출력할 것

import pandas as pd
df = pd.read_csv('Airline.csv', encoding='cp949')

Ages = df['Ages'].copy()
Ages[df['Ages'] == '[10, 20]'] = '10_29'
Ages[df['Ages'] == '[20, 30]'] = '20_39'
Ages[df['Ages'] == '[40, 50]'] = '40_49'
Ages[df['Ages'] == '[50, 60]'] = '50_59'
df['Ages'] = Ages

avg = df.groupby('Ages').Departure_Delay_in_Minutes.mean()
m = avg.idxmax()
df_m = df[df['Ages'] == m].copy()

result = df_m[df_m.Customer_Type == 'L'].shape[0]
print(result)

397

In [158]:
# 기출 2회-(1)

# mpg 컬럼의 상위 10번째 값으로 상위 10개 값을 변환한 뒤
# drat가 4 이상인 값에 대해 mpg의 평균을 구하여라
# 반올림하여 소숫점 셋째 자리까지 표현

import pandas as pd
df = pd.read_csv('mtcars2.csv')

mpg = df['mpg'].copy()
drat = df['drat'].copy()

up10 = mpg.sort_values(ascending=False).iloc[9]
tenth = mpg.sort_values(ascending=False)[:10].index
mpg[tenth] = up10

result = mpg[drat >=4].mean()
print(round(result,3))

20.671

In [167]:
# 기출 2회-(2)

# 첫 번째 행부터 순서대로 80% 까지의 데이터를 훈련 데이터로 추출한 후
# disp 컬럼의 결측값을 disp 컬럼의 중앙값으로 대체하고
# 대체 전 후의 disp 변수의 표준편차 값의 차이를 구하여라
# 반올림하여 소수점 셋째자리까지 표현
# 차이는 빼는 순서와 관계없이 절댓값 취하기

import pandas as pd
df = pd.read_csv('mtcars2.csv')

import numpy as np

idx = np.floor(df.shape[0]*0.8).astype('int64')
train = df[:idx]

before = train['disp'].copy()
after = train['disp'].copy()

med = before.median()
sd1 = before.std()

sd2 = after.fillna(med).std()

result = abs(sd1-sd2)
print(round(result,3))

7.966

In [175]:
# 기출 2회-(3)

# time 컬럼에서 이상값의 합을 구하여라
# 정수로 표현
# 이상값은 평균에서 1.5 표준편차 이상으로 벗어난 값으로 정의

import pandas as pd
df= pd.read_csv('gehan.csv')

sd = df['time'].std()
up = df['time'].mean() + 1.5 * sd
down = df['time'].mean() - 1.5 * sd

result = df[(df['time']>up)|(df['time']<down)]
result = result.sum()
print(result)

pair                   36
time                  133
cens                    0
treat    6-MP6-MP6-MP6-MP
dtype: object

In [182]:
# 기출 3회-(1)

# 첫 번째 행부터 순서대로 70% 까지의 데이터를 훈련 데이터로 추출한 후
# pce 컬럼의 제 1사분위수를 구하라
# 정수로 표현

import pandas as pd
df = pd.read_csv('economics.csv', encoding='cp949')

import numpy as np

idx = np.floor(df.shape[0]*0.7).astype('int64')
train = df[:idx]

result = train['개인소비지출_십억달러'].quantile(0.25).astype('int64')
print(result)

7391

In [186]:
# 기출 3회-(2)

# Years 컬럼이 10인 데이터만 추출하여
# HmRun 컬럼이 평균보다 큰 선수가 몇 명인지 계산하라
# 정수로 표현

import pandas as pd
df = pd.read_csv('Hitters.csv', encoding='cp949')

cond =df[df['Years']==10]
result = cond[cond['HmRun'] > cond['HmRun'].mean()].shape[0]
print(result)

6

In [188]:
# 기출 3회-(3)

# 가장 결측치가 많은 컬럼의 이름을 출력하라

import pandas as pd
df = pd.read_csv('msleep.csv')

result = df.isna().sum().idxmax()
print(result)

sleep_cycle

In [194]:
# 기출 4회-(1)

# Turn_circle 컬럼에 대하여 아래의 과정을 수행하고 (다) 단계의 결과값을 출력하여라
# (가) 제 1사분위수와 제 2사분위수를 구하기
# (나) 두 개의 차이의 절댓값을 구하기
# (다) 그 값의 소수점을 버리기

import pandas as pd
df = pd.read_csv('Cars93.csv')

q1 = df['Turn_circle'].quantile(0.25)
q2 = df['Turn_circle'].quantile(0.5)

diff = abs(q1 - q2)

print(diff.astype('int64'))

2

In [210]:
# 기출 4회-(2)

# '좋아요'를 받은 전체 수 중 모바일에서 '좋아요'를 받은 비율을 구하고
# 그 비율이 0.6보다 크고 0.7보다 작으면서 성별이 남자인 경우의 레코드 수를 구하여라
# 정수로 표현
# mobile_like_recived와 www_like_recived는 각각 모바일과 웹에서 '좋아요' 받은 횟수
# 두 컬럼의 합은 '좋아요'를 받은 전체 수임

import pandas as pd
df = pd.read_csv('facebook_subset.csv')

ratio = df['mobile_likes_received']/(df['mobile_likes_received']+df['www_likes_received'])

target = (ratio>0.6) & (ratio<0.7)
num = df[(df['gender']=='male')&target].shape[0]

print(num)

208

In [217]:
# 기출 4회-(3)

# 2021년 1월에 등록되었으면서 listed_in이 오직 Drama인 경우의 레코드 수를 구하여라
# 정수로 표현

import pandas as pd
df = pd.read_csv('netflix_subset.csv', encoding='cp949')
df.head()

df['date_added'] = pd.to_datetime(df['date_added'])

year = df['date_added'].dt.year
month = df['date_added'].dt.month

cond1 = (year == 2021) & (month == 1)
cond2 = (df['listed_in'] == 'Dramas')

result = df[cond1 & cond2].shape[0]
print(result)

4

<ipython-input-217-8ba9b68abd0f>:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_added'] = pd.to_datetime(df['date_added'])

In [227]:
# 기출 5회-(1)

# 전국의 2L 음식물쓰레기 규격 봉투의 평균 가격을 입력해라
# 정수로 입력
# 평균 계산 시 가격이 0원인 경우는 제외

import pandas as pd
df = pd.read_csv('전국_종량제봉투_가격표준.csv', encoding='cp949')

cond = (df['종량제봉투종류']=='규격봉투')&(df['종량제봉투용도']=='음식물쓰레기')

price = df.loc[cond, '2L가격'].copy()
avg = price[price>0].mean()
print(avg.astype('int'))

119

In [231]:
# 기출 5회-(2)

# BMI를 계산한 후 정상체중에 속하는 인원과 과체중에 속하는 인원의 차이에 대한 절대값을 입력해라
# bmi가 18.5 미만이면 저체중, 18.5이상이고 23.0미만이면 정상,
# 23.0이상이고 25.0미만이면 과체중, 25.0 이상이면 비만
# 정수로 입력
# 몸무게/키의 제곱

import pandas as pd
df = pd.read_csv('bmi.csv', encoding='cp949')
df.head()

bmi = df['Weight']/(df['Height']/100)**2

a = ((bmi >=18.5)&(bmi<23.0)).sum()
b = ((bmi >=23.0)&(bmi<25.0)).sum()

result = abs(a-b)
print(result)

130

In [236]:
# 기출 5회-(3)

# 순전입학생의 수가 가장 많은 순전입학교의 전체학생수를 입력해라
# 순전입학생 수 : 총 전입학생 수 - 총 전출학생 수
# 순전입학교 : 총 전입학생 수 > 총 전출학생 수
# 정수 입력

import pandas as pd
df = pd.read_csv('2022_부산초등학교_전출입학생현황.csv', encoding='cp949')
df.head()

df['순전입학생수'] = df['전입학생수합계'] - df['전출학생수합계']
max = df['순전입학생수'].idxmax()
result = df['전체학생수합계'][max]
print(result)

577

In [85]:
# 기출 6회-(1)

# 접수시간으로부터 상황종료시간까지 소요되는 시간을 화재진압시간이라고 정의
# 10년 중 화재진압시간이 가장 오래 걸린 서센터의 10년 간의 평균 화재진압시간

import pandas as pd
df = pd.read_csv('sejong_fire.csv', encoding='cp949')
print(df.head())

df['접수일시'] = pd.to_datetime(df['접수일시'])
df['상황종료일시'] = pd.to_datetime(df['상황종료일시'])

df['화재진압시간'] = (df['상황종료일시'] - df['접수일시']).dt.total_seconds() / 60

center = df.loc[df['화재진압시간'].idxmax(), '서센터명']

df = df[df['서센터명'] == center].copy()
result = df['화재진압시간'].mean()

print(result.astype('int64'))

     관할서명        서센터명      화재구분              접수일시            상황종료일시
0  조치원소방서   전의119안전센터      기타화재  2012-08-28 16:36  2012-08-28 17:09
1  조치원소방서  조치원119안전센터      기타화재  2012-07-14 23:41   2012-07-15 0:10
2  조치원소방서  조치원119안전센터  일반화재(주택)  2012-07-15 14:26  2012-07-15 14:50
3  조치원소방서  조치원119안전센터      대형화재   2012-07-16 1:36   2012-07-16 2:58
4  조치원소방서  조치원119안전센터  일반화재(주택)  2012-07-29 12:50  2012-07-29 13:44
1573

In [90]:
# 기출 6회-(2)

# 전체 학생 수 대비 교사의 비율(교사 1인당 학생 수)이
# 가장 높은 학교의 교사 수를 입력

import pandas as pd
df = pd.read_csv('busan_school_Info.csv', encoding='cp949')
print(df.head())

df['ratio'] = df.iloc[:,1:7].sum(axis=1)/df.teacher

result = df.loc[df.ratio.idxmax(),'teacher']
print(result)

  school_name  student_1  student_2  student_3  student_4  student_5  \
0      광일초등학교         43         36         35         51         65
1      남성초등학교         86        100         99         71         78
2      대남초등학교         46         70         49         40         62
3      대연초등학교        132        135        151        156        179
4      대천초등학교         90        106         84        106        126

   student_6  teacher
0         60       16
1         49       22
2         56       20
3        171       45
4        118       34
24

In [94]:
# 기출 6회-(3)

# 연도별 범죄 총 발생건수의
# 월평균이 가장 큰 연도의
# 월평균 폭력검거건수 입력

import pandas as pd
df = pd.read_csv('five_crime.csv', encoding='cp949')
print(df.head())

df['연월'] = df['연월'].str.replace(' ','')
df['연월'] = df['연월'].str.replace('월','')
df['연'] = df['연월'].str[:4].copy()
df['월'] = df['연월'].str[-2:].copy()

df['총발생건수'] = df.iloc[:,range(1, 11, 2)].sum(axis = 1)
avg = df.groupby('연').총발생건수.mean()

max_year = avg.argmax()
result = df.groupby('연').폭력_검거건수.mean()[max_year]
print(result.astype('int64'))

           연월  살인_발생건수  살인_검거건수  강도_발생건수  강도_검거건수  강간_강제추행_발생건수  강간_강제추행_검거건수  \
0  2008. 01 월       19       18       49       49           191           186
1  2008. 02 월        9        9       43       36           184           182
2  2008. 03 월       14       10       78       75           262           255
3  2008. 04 월       19       20      102       88           276           262
4  2008. 05 월       23       23       79       71           297           290

   절도_발생건수  절도_검거건수  폭력_발생건수  폭력_검거건수
0     1870     1166     5534     5342
1     1733      996     4534     4341
2     2374     1687     5690     5464
3     2513     1744     6080     5843
4     2406     1375     6427     6135
4884

In [102]:
# 기출 7회-(1)

# 응시자가 가장 많은 연령대의
# 기본간호학 과목 점수를 표준화하여
# 가장 높은 값을 입력

# 결측치가 존재하는 레코드는 제외
# 총점이 아닌 과목별 점수를 표준화
# 소수점 넷째 자리까지

import pandas as pd
df = pd.read_csv('test_score.csv', encoding='cp949')
print(df.head())

df = df.dropna().copy()

age = df['연령대'].value_counts().idxmax()

cond = (df['연령대'] == age)&(df['과목명']=='기본간호학')
target = df[cond]['과목별점수']
sd = (target - target.mean()) / target.std()

result = sd.max()
print(round(result,4))

     연도                                     직종    회차  일련번호        과목명  과목별점수  \
0  2023  간호사                                    63.0     1    지역사회간호학    0.0
1  2023  간호사                                    63.0     1      아동간호학    0.0
2  2023  간호사                                    63.0     1      성인간호학    0.0
3  2023  간호사                                    63.0     1  보건의약관계 법규    0.0
4  2023  간호사                                    63.0     1      기본간호학    0.0

    총점 합격여부 성별  연령대
0  0.0   결시  여   50
1  0.0   결시  여   50
2  0.0   결시  여   50
3  0.0   결시  여   50
4  0.0   결시  여   50
0.5963

In [109]:
# 기출 7회-(2)

# progression 컬럼과 다른 컬럼들 간의 모든 상관관계 중
# 가장 상관관계가 큰 컬럼의 최댓값을 입력
# 소숫점 둘째 자리까지

import pandas as pd
df = pd.read_csv('diabetes.csv', encoding='cp949')
print(df.head())

co = df.corr()['progression'].abs().sort_values(ascending=False)
target = co.index[1]

result = df[target].max()
print(round(result,2))

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  progression
0 -0.002592  0.019907 -0.017646        151.0
1 -0.039493 -0.068332 -0.092204         75.0
2 -0.002592  0.002861 -0.025930        141.0
3  0.034309  0.022688 -0.009362        206.0
4 -0.002592 -0.031988 -0.046641        135.0
0.17

In [114]:
# 기출 7회-(3)

# sepal_length)컬럼의 이상치 갯수를 입력
# 결측치는 중앙값으로 대체
# 구간 q1-1.5*iqr, q3+1.5*iqr 벗어나면 이상치
# 정수 입력

import pandas as pd
df = pd.read_csv('iris.csv', encoding='cp949')
print(df.head())

med = df['sepal_length'].median()
df['sepal_length'] = df['sepal_length'].fillna(med)

q1 = df['sepal_length'].quantile(0.25)
q3 = df['sepal_length'].quantile(0.75)
iqr = q3-q1

cond = df[(df['sepal_length'] < (q1-1.5*iqr)) | (df['sepal_length'] > (q3 + 1.5*iqr))]
result = len(cond['sepal_length'])

print(result)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5

In [119]:
# 컬럼의 왜도와 첨도를 구한 값과,
# 스케일링(log1p)로 변환한 이후
# 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오

import numpy as np

s1 = df['sepal_length'].skew()
k1 = df['sepal_length'].kurt()
print("왜도:" ,s1)
print("첨도:" ,k1)

# 컬럼 로그변환
df['sepal_length'] = np.log1p(df['sepal_length'])

s2 = df['sepal_length'].skew()
k2 = df['sepal_length'].kurt()
print("왜도:" ,s2)
print("첨도:" ,k2)

print(round(s1+s2+k1+k2,2))

왜도: 0.9336029664357085
첨도: 4.485468781901192
왜도: -0.14873436853941224
첨도: 3.126299171678144
8.4