<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/2%EC%9C%A0%ED%98%95_PRAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# RandomForestClassifier : 분류 / 타겟 변수 : 0, 1, 2과 같은 이산형 데이터 : f1_score, accuracy 등
# RandomForestRegressor : 회귀 / 타겟 변수 : 150.0 과 같은 연속형 데이터 : mse, mae 등

In [67]:
# 모의고사 1회 2유형

# 데이터 불러오기

import pandas as pd

x_train = pd.read_csv('titanic3_X_train.csv')
x_test = pd.read_csv('titanic3_X_test.csv')
y_train = pd.read_csv('titanic3_y_train.csv')

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요 컬럼 제거

x_train = x_train.drop(['ID', 'name'], axis = 1)
x_test = x_test.drop(['ID', 'name'], axis = 1)

y_train = y_train.drop(['ID'], axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

## 상관관계 계산해보기

cond_na = x_train['age'].isna()
from scipy.stats import pearsonr
pearsonr(y_train['survived'][~cond_na], x_train['age'][~cond_na])

x_train = x_train.drop('age', axis = 1)
x_test = x_test.drop('age', axis = 1)

## fare 가 train 쪽에서만 결측치 있으니 조건 달아서 행 삭제

cond_na = x_train['fare'].isna()
x_train = x_train[~cond_na]
y_train = y_train[~cond_na]

x_train = x_train.drop('cabin', axis = 1)
x_test = x_test.drop('cabin', axis = 1)

## embarked 탑승한 곳이니 최다빈도 범주로 대체

top = x_train['embarked'].value_counts().idxmax()

x_train['embarked'] = x_train['embarked'].fillna(top)
x_test['embarked'] = x_test['embarked'].fillna(top)

# 카테고리형 컬럼 전처리

print(x_train.select_dtypes('object').nunique())
print(x_test.select_dtypes('object').nunique())

## sex가 세 종류니까 확인

x_train['sex'].value_counts()

x_train['sex'] = x_train['sex'].map({'male':'male', 'female':'female', 'F':'female'})
x_test['sex'] = x_test['sex'].map({'male':'male', 'female':'female', 'F':'female'})

x_train = x_train.drop('ticket', axis = 1)
x_test = x_test.drop('ticket', axis = 1)

# 수치형 컬럼 전처리

## pclass 는 1, 2, 3으로 저장되지만 카테고리 의미 가짐

x_train['pclass_gp'] = x_train['pclass'].astype('object')
x_test['pclass_gp'] = x_test['pclass'].astype('object')

x_train = x_train.drop('pclass', axis = 1)
x_test = x_test.drop('pclass', axis = 1)

x_train['fam'] = x_train['parch'] + x_train['sibsp']
x_test['fam'] = x_test['parch'] + x_test['sibsp']

x_train = x_train.drop(['parch','sibsp'], axis = 1)
x_test = x_test.drop(['parch','sibsp'], axis = 1)

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size = 0.1)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output=False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링

from sklearn.preprocessing import StandardScaler

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRIAN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 100,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

from sklearn.metrics import f1_score

pred_rf = model_rf.predict(X_VAL)

f1_rf = f1_score(y_VAL, pred_rf)
print(f1_rf)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_rf.predict(X_TEST)
obj = {'ID': ID,
       'survived':y_pred}
result = pd.DataFrame(obj)
result.to_csv('result.csv', index=False)

   ID  pclass      name   sex   age  sibsp  parch             ticket    fare  \
0   1       3  Sdy*****  male   NaN      0      0             349222  7.8958
1   2       3  Pel*****  male  25.0      0      0  STON/O 2. 3101291  7.9250
2   3       3  Kar*****  male  22.0      0      0             350060  7.5208
3   4       3  Saa*****  male   NaN      0      0               2676  7.2250
4   5       3  Cor*****  male  19.0      0      0             349231  7.8958

  cabin embarked
0   NaN        S
1   NaN        S
2   NaN        S
3   NaN        C
4   NaN        S
    ID  pclass      name     sex   age  sibsp  parch    ticket      fare  \
0  786       1  All*****  female   2.0      1      2    113781  151.5500
1  787       1  And*****    male  39.0      0      0    112050    0.0000
2  788       1  Bau*****    male   NaN      0      0  PC 17318   25.9250
3  789       1  Bax*****    male  24.0      0      1  PC 17558  247.5208
4  790       1  Bea*****    male  36.0      0      0     13050   75.2417

     cabin embarked
0  C22 C26        S
1      A36        S
2      NaN        S
3  B58 B60        C
4       C6        C
   ID  survived
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   pclass    785 non-null    int64
 2   name      785 non-null    object
 3   sex       785 non-null    object
 4   age       628 non-null    float64
 5   sibsp     785 non-null    int64
 6   parch     785 non-null    int64
 7   ticket    785 non-null    object
 8   fare      784 non-null    float64
 9   cabin     171 non-null    object
 10  embarked  784 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 67.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        524 non-null    int64
 1   pclass    524 non-null    int64
 2   name      524 non-null    object
 3   sex       524 non-null    object
 4   age       418 non-null    float64
 5   sibsp     524 non-null    int64
 6   parch     524 non-null    int64
 7   ticket    524 non-null    object
 8   fare      524 non-null    float64
 9   cabin     124 non-null    object
 10  embarked  523 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 45.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   survived  785 non-null    int64
dtypes: int64(2)
memory usage: 12.4 KB
None
               ID      pclass         age       sibsp       parch        fare
count  785.000000  785.000000  628.000000  785.000000  785.000000  784.000000
mean   393.000000    2.296815   30.292994    0.501911    0.357962   33.454697
std    226.754272    0.835929   14.660563    1.051146    0.781166   52.251342
min      1.000000    1.000000    0.330000    0.000000    0.000000    0.000000
25%    197.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%    393.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%    589.000000    3.000000   39.250000    1.000000    0.000000   30.771850
max    785.000000    3.000000   80.000000    8.000000    6.000000  512.329200
                ID      pclass         age       sibsp       parch       fare
count   524.000000  524.000000  418.000000  524.000000  524.000000  524.00000
mean   1047.500000    2.291985   29.262368    0.494275    0.425573   33.05726
std     151.410039    0.841475   14.028790    1.028265    0.977859   51.06143
min     786.000000    1.000000    0.170000    0.000000    0.000000    0.00000
25%     916.750000    1.750000   21.000000    0.000000    0.000000    7.91770
50%    1047.500000    3.000000   28.000000    0.000000    0.000000   14.45830
75%    1178.250000    3.000000   37.750000    1.000000    0.000000   31.38750
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.32920
               ID    survived
count  785.000000  785.000000
mean   393.000000    0.382166
std    226.754272    0.486227
min      1.000000    0.000000
25%    197.000000    0.000000
50%    393.000000    0.000000
75%    589.000000    1.000000
max    785.000000    1.000000
pclass        0
sex           0
age         157
sibsp         0
parch         0
ticket        0
fare          1
cabin       614
embarked      1
dtype: int64
pclass        0
sex           0
age         106
sibsp         0
parch         0
ticket        0
fare          0
cabin       400
embarked      1
dtype: int64
sex           3
ticket      621
embarked      3
dtype: int64
sex           3
ticket      445
embarked      3
dtype: int64
0.6808510638297872

In [55]:
# 모의고사 2회 2유형

import pandas as pd

x_train = pd.read_csv("BlackFriday_X_train.csv")
x_test = pd.read_csv("BlackFriday_X_test.csv")
y_train = pd.read_csv("BlackFriday_y_train.csv")

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요 컬럼 제거

x_train = x_train.drop('Product_ID', axis = 1)
x_test = x_test.drop('Product_ID', axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

x_train = x_train.drop('Product_Category_2', axis = 1)
x_test = x_test.drop('Product_Category_2', axis = 1)

x_train = x_train.drop('Product_Category_3', axis = 1)
x_test = x_test.drop('Product_Category_3', axis = 1)

# 카테고리형 컬럼

print(x_train.select_dtypes('object').nunique())
print(x_test.select_dtypes('object').nunique())

# 수치형 컬럼

print(x_train.select_dtypes(exclude = 'object'))
print(x_test.select_dtypes(exclude = 'object'))

x_train['Occ_gp'] = x_train['Occupation'].astype('object')
x_test['Occ_gp'] = x_test['Occupation'].astype('object')


x_train['Marital_gp'] = x_train['Marital_Status'].astype('object')
x_test['Marital_gp'] = x_test['Marital_Status'].astype('object')

x_train['PC_gp'] = x_train['Product_Category_1'].astype('object')
x_test['PC_gp'] = x_test['Product_Category_1'].astype('object')

x_train = x_train.drop(['Occupation', 'Marital_Status', 'Product_Category_1'], axis = 1)
x_test = x_test.drop(['Occupation', 'Marital_Status', 'Product_Category_1'], axis = 1)

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state=1234, test_size = 0.3)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링 필요없음 ~conti

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = X_TRAIN_OH # 만약 conti가 있다면 (+)
X_VAL = X_VAL_OH

# 평탄화 안함 .values.ravel() / 책에서는 하라고 했지만 에러 발생 !!!!

# 모델 학습

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           max_depth = 3,
                           min_samples_leaf = 10,
                           max_features = 2,
                           random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

from sklearn.metrics import mean_absolute_error

pred_rf = rf.predict(X_VAL)
mae_rf = mean_absolute_error(y_VAL, pred_rf)
print(mae_rf)

# 결과 제출

X_TEST = X_TEST_OH
y_pred = model_rf.predict(X_TEST).flatten() # 1차원 배열로 변환

obj = {'Purchase' : y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index=False)

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1001889  P00166642      M  18-25          14             B
1  1003320  P00030842      M  26-35           1             B
2  1003690   P0095742      M  18-25           0             B
3  1002796  P00227642      M  26-35          14             B
4  1001671  P00114542      M  36-45           0             B

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   8
1                          1               1                   1
2                          2               0                   4
3                          3               0                   1
4                          2               0                   5

   Product_Category_2  Product_Category_3
0                 NaN                 NaN
1                 2.0                15.0
2                 5.0                 NaN
3                 5.0                14.0
4                 NaN                 NaN
   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1004079  P00194042      M  36-45          17             B
1  1000936  P00320942      M  18-25           4             C
2  1000238  P00117242      F  51-55           7             B
3  1005250  P00354142      M  51-55           6             B
4  1005281  P00152742      M  26-35           2             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          3               1                   8
1                         4+               0                   1
2                          0               0                   8
3                         4+               1                   6
4                          2               0                   5

   Product_Category_2  Product_Category_3
0                11.0                 NaN
1                 4.0                 9.0
2                17.0                 NaN
3                 8.0                 NaN
4                 NaN                 NaN
   User_ID  Purchase
0  1001889      7802
1  1003320     15412
2  1003690      1448
3  1002796      3927
4  1001671      7091
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     3900 non-null   int64
 1   Product_ID                  3900 non-null   object
 2   Gender                      3900 non-null   object
 3   Age                         3900 non-null   object
 4   Occupation                  3900 non-null   int64
 5   City_Category               3900 non-null   object
 6   Stay_In_Current_City_Years  3900 non-null   object
 7   Marital_Status              3900 non-null   int64
 8   Product_Category_1          3900 non-null   int64
 9   Product_Category_2          2695 non-null   float64
 10  Product_Category_3          1213 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 335.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     2600 non-null   int64
 1   Product_ID                  2600 non-null   object
 2   Gender                      2600 non-null   object
 3   Age                         2600 non-null   object
 4   Occupation                  2600 non-null   int64
 5   City_Category               2600 non-null   object
 6   Stay_In_Current_City_Years  2600 non-null   object
 7   Marital_Status              2600 non-null   int64
 8   Product_Category_1          2600 non-null   int64
 9   Product_Category_2          1752 non-null   float64
 10  Product_Category_3          793 non-null    float64
dtypes: float64(2), int64(4), object(5)
memory usage: 223.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_ID   3900 non-null   int64
 1   Purchase  3900 non-null   int64
dtypes: int64(2)
memory usage: 61.1 KB
None
            User_ID   Occupation  Marital_Status  Product_Category_1  \
count  3.900000e+03  3900.000000     3900.000000         3900.000000
mean   1.002986e+06     7.980513        0.420000            5.273846
std    1.711858e+03     6.562434        0.493622            3.710045
min    1.000002e+06     0.000000        0.000000            1.000000
25%    1.001501e+06     2.000000        0.000000            1.000000
50%    1.003046e+06     7.000000        0.000000            5.000000
75%    1.004386e+06    14.000000        1.000000            8.000000
max    1.006040e+06    20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3
count         2695.000000         1213.000000
mean             9.852319           12.663644
std              5.058134            4.057423
min              2.000000            3.000000
25%              5.000000            9.000000
50%              9.000000           14.000000
75%             15.000000           16.000000
max             18.000000           18.000000
            User_ID   Occupation  Marital_Status  Product_Category_1  \
count  2.600000e+03  2600.000000     2600.000000         2600.000000
mean   1.002952e+06     8.061154        0.403846            5.359231
std    1.718149e+03     6.525626        0.490762            3.769651
min    1.000001e+06     0.000000        0.000000            1.000000
25%    1.001406e+06     2.000000        0.000000            2.000000
50%    1.003012e+06     7.000000        0.000000            5.000000
75%    1.004385e+06    14.000000        1.000000            8.000000
max    1.006037e+06    20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3
count         1752.000000          793.000000
mean             9.748288           12.813367
std              5.080618            4.098900
min              2.000000            4.000000
25%              5.000000            9.000000
50%              9.000000           15.000000
75%             15.000000           16.000000
max             18.000000           18.000000
            User_ID      Purchase
count  3.900000e+03   3900.000000
mean   1.002986e+06   9394.564615
std    1.711858e+03   5039.666976
min    1.000002e+06    373.000000
25%    1.001501e+06   5841.750000
50%    1.003046e+06   8062.500000
75%    1.004386e+06  12162.750000
max    1.006040e+06  23942.000000
User_ID                          0
Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2            1205
Product_Category_3            2687
dtype: int64
User_ID                          0
Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2             848
Product_Category_3            1807
dtype: int64
Gender                        2
Age                           7
City_Category                 3
Stay_In_Current_City_Years    5
dtype: int64
Gender                        2
Age                           7
City_Category                 3
Stay_In_Current_City_Years    5
dtype: int64
      User_ID  Occupation  Marital_Status  Product_Category_1
0     1001889          14               0                   8
1     1003320           1               1                   1
2     1003690           0               0                   4
3     1002796          14               0                   1
4     1001671           0               0                   5
...       ...         ...             ...                 ...
3895  1003763           2               0                   1
3896  1001641           0               0                  11
3897  1003912           4               0                   8
3898  1002903          16               0                   1
3899  1003327          12               0                  16

[3900 rows x 4 columns]
      User_ID  Occupation  Marital_Status  Product_Category_1
0     1004079          17               1                   8
1     1000936           4               0                   1
2     1000238           7               0                   8
3     1005250           6               1                   6
4     1005281           2               0                   5
...       ...         ...             ...                 ...
2595  1004607           0               0                   5
2596  1001666          14               0                   1
2597  1002489           9               0                   8
2598  1005492           4               1                   6
2599  1000278          18               1                  11

[2600 rows x 4 columns]
2704.97108243452

In [ ]:
# 모의고사 3회 2유형

import pandas as pd

train = pd.read_csv("train_insurance.csv")
test = pd.read_csv("test_insurance.csv")

y_train = train['charges']
x_train = train.drop('charges', axis = 1)
x_test = test

print(x_train.head())
print(y_train.head())
print(x_test.head())

print(x_train.info())
print(y_train.info())
print(x_test.info())

print(x_train.describe())
print(y_train.describe())
print(x_test.describe())

print(x_train.isna().sum())
print(y_train.isna().sum())
print(x_test.isna().sum())

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size = 0.1)

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_conti], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_conti], axis = 1)

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 100,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 15,
                            random_state = 2023)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

from sklearn.metrics import mean_absolute_percentage_error

pred_rf = model_rf.predict(X_VAL)

mape_rf = mean_absolute_percentage_error(y_VAL, pred_rf)
print(mape_rf)

X_TEST = np.concatenate([X_TEST_OH, X_TEST_conti], axis = 1)
y_pred = model_rf.predict(X_TEST)

obj = {'pred':y_pred}
result = pd.DataFrame(obj)

result.to_csv("result.csv", index = False)

   age     sex     bmi  children smoker     region
0  10S  female  27.900         0    yes  southwest
1  10S    male  33.770         1     no  southeast
2  20S    male  33.000         3     no  southeast
3  30S    male  22.705         0     no  northwest
4  30S    male  28.880         0     no  northwest
0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64
   age     sex    bmi  children smoker     region
0  20S  female  39.49         0     no  southeast
1  30S    male  33.82         1     no  northwest
2  20S    male  32.01         0     no  southeast
3  50S    male  27.94         1     no  southeast
4  50S    male  41.14         1    yes  southeast
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1058 non-null   object
 1   sex       1058 non-null   object
 2   bmi       1058 non-null   float64
 3   children  1058 non-null   int64
 4   smoker    1058 non-null   object
 5   region    1058 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 49.7+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 1058 entries, 0 to 1057
Series name: charges
Non-Null Count  Dtype
--------------  -----
1058 non-null   float64
dtypes: float64(1)
memory usage: 8.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       280 non-null    object
 1   sex       280 non-null    object
 2   bmi       280 non-null    float64
 3   children  280 non-null    int64
 4   smoker    280 non-null    object
 5   region    280 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 13.2+ KB
None
               bmi     children
count  1058.000000  1058.000000
mean     30.765917     1.073724
std       6.077672     1.192157
min      15.960000     0.000000
25%      26.410000     0.000000
50%      30.495000     1.000000
75%      34.868750     2.000000
max      52.580000     5.000000
count     1058.000000
mean     13242.294899
std      12030.616700
min       1121.873900
25%       4740.287150
50%       9388.753650
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64
              bmi    children
count  280.000000  280.000000
mean    30.276018    1.175000
std      6.170661    1.253561
min     16.815000    0.000000
25%     25.800000    0.000000
50%     30.115000    1.000000
75%     33.843750    2.000000
max     53.130000    5.000000
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64
0
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64
0.5168142894436256

In [83]:
# 기출복원 2회 2유형

# 데이터 불러오기

import pandas as pd

x_train = pd.read_csv('stroke_X_train.csv')
x_test = pd.read_csv('stroke_X_test.csv')
y_train = pd.read_csv('stroke_y_train.csv')

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

ID = x_test['id'].copy()

x_train = x_train.drop('id', axis = 1)
x_test = x_test.drop('id', axis = 1)
y_train = y_train.drop('id', axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

x_train['smoking_status'].value_counts()

x_train['smoking_status'] = x_train['smoking_status'].fillna('unknown')
x_test['smoking_status'] = x_test['smoking_status'].fillna('unknown')

# 카테고리형 컬럼 안해도 됨

# 수치형 컬럼

## age 를 범주형으로

x_train['age'] = pd.cut(x_train['age'], bins=list(range(0, 100, 10))).astype('object')
x_test['age'] = pd.cut(x_test['age'], bins=list(range(0, 100, 10))).astype('object')

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state=1234, test_size=0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output=False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링

from sklearn.preprocessing import StandardScaler

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

# 입력데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 100,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 2,
                            random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

# 성능 검증

from sklearn.metrics import accuracy_score

pred_rf = model_rf.predict(X_VAL)

acc_rf = accuracy_score(y_VAL, pred_rf)
print(acc_rf)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_rf.predict(X_TEST)

obj = {'id':ID,
       'stroke':y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index=False)

     id  gender   age  hypertension  heart_disease ever_married work_type  \
0   678    Male   8.0             0              0           No  children
1  1126  Female  65.0             0              0          Yes  Govt_job
2  1125  Female  79.0             1              0          Yes   Private
3  1016    Male  66.0             0              0          Yes   Private
4   948  Female  45.0             0              0          Yes   Private

  Residence_type  avg_glucose_level   bmi   smoking_status
0          Urban              78.48  16.1          Unknown
1          Urban              82.72  29.8           smokes
2          Rural             119.62  39.0          Unknown
3          Rural              67.92  31.1  formerly smoked
4          Urban             146.44  22.8  formerly smoked
   id  gender   age  hypertension  heart_disease ever_married work_type  \
0   2  Female  78.0             0              0          Yes   Private
1   4  Female  59.0             0              0          Yes  Govt_job
2   5  Female  59.0             0              0          Yes   Private
3   6  Female  33.0             0              0           No   Private
4   8    Male  77.0             0              0          Yes   Private

  Residence_type  avg_glucose_level   bmi   smoking_status
0          Urban             119.03  31.0     never smoked
1          Urban             101.19  29.9  formerly smoked
2          Urban             182.52  30.1          Unknown
3          Rural              80.21  27.8  formerly smoked
4          Urban              71.44  24.1           smokes
     id  stroke
0   678       0
1  1126       0
2  1125       0
3  1016       0
4   948       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2399 non-null   int64
 1   gender             2399 non-null   object
 2   age                2399 non-null   float64
 3   hypertension       2399 non-null   int64
 4   heart_disease      2399 non-null   int64
 5   ever_married       2399 non-null   object
 6   work_type          2399 non-null   object
 7   Residence_type     2399 non-null   object
 8   avg_glucose_level  2399 non-null   float64
 9   bmi                2399 non-null   float64
 10  smoking_status     2399 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 206.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1601 non-null   int64
 1   gender             1601 non-null   object
 2   age                1601 non-null   float64
 3   hypertension       1601 non-null   int64
 4   heart_disease      1601 non-null   int64
 5   ever_married       1601 non-null   object
 6   work_type          1601 non-null   object
 7   Residence_type     1601 non-null   object
 8   avg_glucose_level  1601 non-null   float64
 9   bmi                1601 non-null   float64
 10  smoking_status     1601 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 137.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2399 non-null   int64
 1   stroke  2399 non-null   int64
dtypes: int64(2)
memory usage: 37.6 KB
None
                id          age  hypertension  heart_disease  \
count  2399.000000  2399.000000   2399.000000    2399.000000
mean   2010.176323    60.180492      0.231346       0.154648
std    1162.012740    19.577115      0.421781       0.361644
min       1.000000     0.160000      0.000000       0.000000
25%     997.500000    51.000000      0.000000       0.000000
50%    1999.000000    65.000000      0.000000       0.000000
75%    3023.500000    77.000000      0.000000       0.000000
max    4000.000000    82.000000      1.000000       1.000000

       avg_glucose_level          bmi
count        2399.000000  2399.000000
mean          125.673135    30.187953
std            59.512953     6.845468
min            55.120000    13.800000
25%            78.800000    26.100000
50%           100.540000    29.500000
75%           185.170000    33.600000
max           271.740000    61.600000
                id          age  hypertension  heart_disease  \
count  1601.000000  1601.000000   1601.000000    1601.000000
mean   1986.000625    60.909032      0.249219       0.148032
std    1144.228912    19.410576      0.432696       0.355243
min       2.000000     0.160000      0.000000       0.000000
25%    1005.000000    51.000000      0.000000       0.000000
50%    2007.000000    67.000000      0.000000       0.000000
75%    2963.000000    78.000000      0.000000       0.000000
max    3999.000000    82.000000      1.000000       1.000000

       avg_glucose_level          bmi
count        1601.000000  1601.000000
mean          126.704941    30.053654
std            58.661998     6.606219
min            55.580000    10.300000
25%            80.080000    26.000000
50%           103.060000    29.400000
75%           185.490000    33.600000
max           271.740000    97.600000
                id       stroke
count  2399.000000  2399.000000
mean   2010.176323     0.706961
std    1162.012740     0.455251
min       1.000000     0.000000
25%     997.500000     0.000000
50%    1999.000000     1.000000
75%    3023.500000     1.000000
max    4000.000000     1.000000
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64
0.7541666666666667

In [4]:
# 기출복원 3회 2유형

# 데이터 불러오기

import pandas as pd

x_train = pd.read_csv('job_change_X_train.csv')
x_test = pd.read_csv('job_change_X_test.csv')
y_train = pd.read_csv('job_change_y_train.csv')

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

enrollee_id = x_test['enrollee_id'].copy()

x_train = x_train.drop('enrollee_id', axis = 1)
x_test = x_test.drop('enrollee_id', axis = 1)
y_train = y_train.drop('enrollee_id', axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

## 1000개 이상은 없애버리기

cond_na1000 = (x_train.isna().sum() > 1000)

colnm_na1000 = x_train.columns[cond_na1000]

x_train = x_train.drop(colnm_na1000, axis = 1)
x_test = x_test.drop(colnm_na1000, axis = 1)

## 200개 미만은 최다 빈도로 대체

mode_EU = x_train['enrolled_university'].value_counts().idxmax()

x_train['enrolled_university'] = x_train['enrolled_university'].fillna(mode_EU)
x_test['enrolled_university'] = x_test['enrolled_university'].fillna(mode_EU)

mode_EL = x_train['education_level'].value_counts().idxmax()

x_train['education_level'] = x_train['education_level'].fillna(mode_EL)
x_test['education_level'] = x_test['education_level'].fillna(mode_EL)

# 카테고리형 컬럼 없음

# 수치형 컬럼 없음

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state=1234, test_size=0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output=False, handle_unknown='ignore').fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링

from sklearn.preprocessing import StandardScaler

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

# 입력데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

## RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

## XGBoost
from xgboost import XGBClassifier

xgb = XGBClassifier(max_depth = 8,
                    n_estimators = 500,
                    nthread = 5,
                    min_child_weight = 20,
                    gamma = 0.5,
                    objective = 'binary:logistic',
                    use_label_encoder = False,
                    random_state = 2022)

model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

from sklearn.metrics import roc_curve, auc

score_rf = model_rf.predict_proba(X_VAL)[:,1]

fpr, tpr, thresholds = roc_curve(y_VAL, score_rf)
auc_rf = auc(fpr, tpr)
print(auc_rf)

score_xgb = model_xgb.predict_proba(X_VAL)[:,1]

fpr, tpr, thresholds = roc_curve(y_VAL, score_xgb)
auc_xgb = auc(fpr, tpr)
print(auc_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_rf.predict(X_TEST)
y_score = model_rf.predict_proba(X_TEST)[:,1]

obj = {'enrollee_id':enrollee_id,
       'target':y_pred,
       'target_prob':y_score}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index=False)

   enrollee_id      city  city_development_index gender relevent_experience  \
0         6424   city_75                   0.939   Male                 Has
1        18304   city_64                   0.666   Male                  No
2        22515  city_103                   0.920   Male                  No
3        15878   city_16                   0.910   Male                 Has
4        22128  city_103                   0.920   Male                 Has

  enrolled_university education_level major_discipline experience  \
0                  No        Graduate             STEM         10
1                Full            High              NaN          2
2                Full            High              NaN          4
3                  No        Graduate             STEM          8
4                  No        Graduate             STEM          6

  company_size         company_type last_new_job  training_hours
0        50-99              Pvt Ltd            1             176
1          NaN                  NaN            1             110
2          NaN                  NaN        never              44
3        50-99  Early Stage Startup            1              82
4       10000+              Pvt Ltd            1              70
   enrollee_id      city  city_development_index gender relevent_experience  \
0          666  city_162                   0.767   Male                 Has
1        28806  city_160                   0.920   Male                 Has
2         5826   city_21                   0.624   Male                  No
3        19061  city_114                   0.926   Male                 Has
4        28476  city_103                   0.920   Male                 Has

  enrolled_university education_level major_discipline experience  \
0                  No         Masters             STEM        >20
1                  No            High              NaN          5
2                 NaN             NaN              NaN          2
3                  No         Masters             STEM         11
4                  No        Graduate             Arts          5

  company_size    company_type last_new_job  training_hours
0        50-99  Funded Startup            4               8
1        50-99  Funded Startup            1              24
2          NaN             NaN        never              24
3      100-500         Pvt Ltd            2              50
4          NaN             NaN            2              72
   enrollee_id  target
0         6424       0
1        18304       0
2        22515       0
3        15878       0
4        22128       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10063 entries, 0 to 10062
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             10063 non-null  int64
 1   city                    10063 non-null  object
 2   city_development_index  10063 non-null  float64
 3   gender                  10063 non-null  object
 4   relevent_experience     10063 non-null  object
 5   enrolled_university     9921 non-null   object
 6   education_level         9901 non-null   object
 7   major_discipline        8740 non-null   object
 8   experience              10063 non-null  object
 9   company_size            7133 non-null   object
 10  company_type            7048 non-null   object
 11  last_new_job            10063 non-null  object
 12  training_hours          10063 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1022.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4313 entries, 0 to 4312
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             4313 non-null   int64
 1   city                    4313 non-null   object
 2   city_development_index  4313 non-null   float64
 3   gender                  4313 non-null   object
 4   relevent_experience     4313 non-null   object
 5   enrolled_university     4262 non-null   object
 6   education_level         4231 non-null   object
 7   major_discipline        3724 non-null   object
 8   experience              4313 non-null   object
 9   company_size            3052 non-null   object
 10  company_type            3024 non-null   object
 11  last_new_job            4313 non-null   object
 12  training_hours          4313 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 438.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10063 entries, 0 to 10062
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  10063 non-null  int64
 1   target       10063 non-null  int64
dtypes: int64(2)
memory usage: 157.4 KB
None
        enrollee_id  city_development_index  training_hours
count  10063.000000            10063.000000    10063.000000
mean   17111.044619                0.839398       65.074332
std     9822.553276                0.117685       59.490573
min        4.000000                0.448000        1.000000
25%     8607.000000                0.766000       23.000000
50%    17339.000000                0.910000       47.000000
75%    25937.000000                0.920000       88.000000
max    33380.000000                0.949000      336.000000
        enrollee_id  city_development_index  training_hours
count   4313.000000             4313.000000     4313.000000
mean   17239.037793                0.841139       65.893114
std     9865.439926                0.115683       60.792871
min        1.000000                0.448000        2.000000
25%     8560.000000                0.767000       24.000000
50%    17564.000000                0.910000       48.000000
75%    26204.000000                0.920000       88.000000
max    33379.000000                0.949000      336.000000
        enrollee_id        target
count  10063.000000  10063.000000
mean   17111.044619      0.230249
std     9822.553276      0.421013
min        4.000000      0.000000
25%     8607.000000      0.000000
50%    17339.000000      0.000000
75%    25937.000000      0.000000
max    33380.000000      1.000000
city                         0
city_development_index       0
gender                       0
relevent_experience          0
enrolled_university        142
education_level            162
major_discipline          1323
experience                   0
company_size              2930
company_type              3015
last_new_job                 0
training_hours               0
dtype: int64
city                         0
city_development_index       0
gender                       0
relevent_experience          0
enrolled_university         51
education_level             82
major_discipline           589
experience                   0
company_size              1261
company_type              1289
last_new_job                 0
training_hours               0
dtype: int64
0.7457927181932317
0.7476216338218905

In [16]:
# 기출복원 4회 2유형

# 데이터 불러오기

import pandas as pd

train = pd.read_csv('bodyPerfor_train.csv')
test = pd.read_csv('bodyPerfor_test.csv')

y_train = train['class'].copy()
x_train = train.drop(columns = 'class').copy()

x_test = test.copy()

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

x_train = x_train.drop('id', axis = 1)
x_test = x_test.drop('id', axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

# 카테고리형 컬럼 전처리 생략

# 수치형 컬럼 전처리

## age 범주형으로

x_train['age'] = pd.cut(x_train['age'], bins = list(range(0, 100, 10))).astype('object')
x_test['age'] = pd.cut(x_test['age'], bins = list(range(0, 100, 10))).astype('object')

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size=0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output=False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링

from sklearn.preprocessing import StandardScaler

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

y_TRAIN = y_TRAIN.map({'A':0, 'B':1, 'C':2, 'D':3})
y_VAL = y_VAL.map({'A':0, 'B':1, 'C':2, 'D':3})

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

xgb = XGBClassifier(max_depth = 8,
                    n_estimators = 500,
                    nthread = 5,
                    min_child_weight = 20,
                    objective = 'multi:softmax',
                    random_state = 2022)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

from sklearn.metrics import f1_score

pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)

f1_rf = f1_score(y_VAL, pred_rf, average = 'macro')
print(f1_rf)

f1_xgb = f1_score(y_VAL, pred_xgb, average = 'macro')
print(f1_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_xgb.predict(X_TEST)

obj = {'class':y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index = False)

      id  age gender  height  weight  body_fat  diastolic  systolic  \
0    920   40      M   173.8    73.2      12.0       80.0       148
1   5998   35      M   176.2    73.7      15.7       64.0       119
2  11457   57      M   169.2    73.5      21.7       77.0       128
3   2898   45      M   170.3    76.7      17.0       86.0       154
4   3141   28      M   171.3    68.7      11.2       99.0       145

   grip_force  sit_bend_forward  sit_ups  broad_jump
0        46.9              15.0     50.0       250.0
1        47.6              18.0     46.0       226.0
2        49.5              14.8     39.0       206.0
3        50.8              19.5     43.0       214.0
4        42.7              23.2     71.0       269.0
   id  age gender  height  weight  body_fat  diastolic  systolic  grip_force  \
0  11   42      M   169.2    65.4      19.3       63.0     110.0        43.5
1  22   59      F   155.9    62.7      30.2       76.0     143.0        36.8
2  30   50      F   159.8    57.1      24.4       63.0     103.0        30.8
3  49   28      M   180.1    82.1      15.0       83.0     147.0        52.6
4  88   41      F   158.1    51.0      21.7       86.0     127.0        23.1

   sit_bend_forward  sit_ups  broad_jump
0              16.0     68.0         211
1              29.1     25.0         122
2              24.4     30.0         143
3              18.8     55.0         247
4              28.6     46.0         165
0    A
1    A
2    A
3    A
4    A
Name: class, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10713 entries, 0 to 10712
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10713 non-null  int64
 1   age               10713 non-null  int64
 2   gender            10713 non-null  object
 3   height            10713 non-null  float64
 4   weight            10713 non-null  float64
 5   body_fat          10713 non-null  float64
 6   diastolic         10713 non-null  float64
 7   systolic          10713 non-null  int64
 8   grip_force        10713 non-null  float64
 9   sit_bend_forward  10713 non-null  float64
 10  sit_ups           10713 non-null  float64
 11  broad_jump        10713 non-null  float64
dtypes: float64(8), int64(3), object(1)
memory usage: 1004.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680 entries, 0 to 2679
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2680 non-null   int64
 1   age               2680 non-null   int64
 2   gender            2680 non-null   object
 3   height            2680 non-null   float64
 4   weight            2680 non-null   float64
 5   body_fat          2680 non-null   float64
 6   diastolic         2680 non-null   float64
 7   systolic          2680 non-null   float64
 8   grip_force        2680 non-null   float64
 9   sit_bend_forward  2680 non-null   float64
 10  sit_ups           2680 non-null   float64
 11  broad_jump        2680 non-null   int64
dtypes: float64(8), int64(3), object(1)
memory usage: 251.4+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 10713 entries, 0 to 10712
Series name: class
Non-Null Count  Dtype
--------------  -----
10713 non-null  object
dtypes: object(1)
memory usage: 83.8+ KB
None
                 id           age        height        weight      body_fat  \
count  10713.000000  10713.000000  10713.000000  10713.000000  10713.000000
mean    6705.064221     36.753664    168.554569     67.493615     23.240960
std     3864.549752     13.607601      8.372870     11.916531      7.247821
min        1.000000     21.000000    125.000000     26.300000      3.000000
25%     3347.000000     25.000000    162.500000     58.200000     18.000000
50%     6705.000000     32.000000    169.200000     67.500000     22.800000
75%    10049.000000     48.000000    174.700000     75.400000     28.000000
max    13393.000000     64.000000    193.800000    138.100000     78.400000

          diastolic      systolic    grip_force  sit_bend_forward  \
count  10713.000000  10713.000000  10713.000000      10713.000000
mean      78.846159    130.338654     37.002717         15.202553
std       10.742433     14.652444     10.598279          8.572562
min        0.000000      0.000000      0.000000        -25.000000
25%       71.000000    120.000000     27.600000         10.900000
50%       79.000000    130.000000     38.000000         16.200000
75%       87.000000    141.000000     45.200000         20.800000
max      156.200000    201.000000     70.400000        213.000000

            sit_ups    broad_jump
count  10713.000000  10713.000000
mean      39.842024    190.273322
std       14.258093     39.990996
min        0.000000      0.000000
25%       30.000000    162.000000
50%       41.000000    194.000000
75%       51.000000    222.000000
max       80.000000    303.000000
                 id          age       height       weight     body_fat  \
count   2680.000000  2680.000000  2680.000000  2680.000000  2680.000000
mean    6664.764179    36.860821   168.580746    67.262239    23.236985
std     3874.194251    13.699722     8.639518    12.081684     7.294158
min        9.000000    21.000000   139.900000    31.900000     3.000000
25%     3365.750000    25.000000   162.000000    57.800000    17.900000
50%     6659.000000    32.000000   169.300000    67.200000    22.700000
75%    10023.250000    48.000000   175.000000    75.100000    27.900000
max    13392.000000    64.000000   191.800000   119.800000    50.300000

         diastolic     systolic   grip_force  sit_bend_forward      sit_ups  \
count  2680.000000  2680.000000  2680.000000       2680.000000  2680.000000
mean     78.599701   129.819739    36.808619         15.236112    39.488209
std      10.740177    14.952870    10.731066          7.978120    14.350013
min       8.000000    43.900000     0.000000        -20.000000     0.000000
25%      71.000000   119.000000    27.275000         11.000000    31.000000
50%      79.000000   129.000000    37.450000         16.200000    41.000000
75%      86.000000   141.000000    44.900000         20.525000    50.000000
max     121.000000   195.000000    70.500000         42.000000    78.000000

        broad_jump
count  2680.000000
mean    189.555224
std      39.374656
min       0.000000
25%     163.000000
50%     191.000000
75%     220.000000
max     294.000000
count     10713
unique        4
top           C
freq       2679
Name: class, dtype: object
age                 0
gender              0
height              0
weight              0
body_fat            0
diastolic           0
systolic            0
grip_force          0
sit_bend_forward    0
sit_ups             0
broad_jump          0
dtype: int64
age                 0
gender              0
height              0
weight              0
body_fat            0
diastolic           0
systolic            0
grip_force          0
sit_bend_forward    0
sit_ups             0
broad_jump          0
dtype: int64
0.554457345669331
0.691662112755511

In [31]:
# 기출복원 5회 2유형

# 데이터 불러오기

import pandas as np

train = pd.read_csv('carprice_train.csv')
test = pd.read_csv('carprice_test.csv')

y_train = train['price'].copy()
x_train = train.drop(columns = 'price').copy()

x_test = test.copy()

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

# 카테고리형 컬럼 전처리

# 수치형 컬럼 전처리

x_train['year'] = x_train['year'].astype('object')
x_test['year'] = x_test['year'].astype('object')

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size=0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output=False, handle_unknown='ignore').fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링

from sklearn.preprocessing import StandardScaler

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           max_depth = 3,
                           min_samples_leaf = 10,
                           max_features = 30,
                           random_state = 2023)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

xgb = XGBRegressor(n_estimators = 100,
                   nthread = 5,
                   min_child_weight = 20,
                   gamma = 0.5,
                   objective = 'reg:squarederror',
                   use_label_encoder = False,
                   random_state = 2023)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

from sklearn.metrics import mean_squared_error

pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)

rmse_rf = mean_squared_error(y_VAL, pred_rf, squared=False)
print(rmse_rf)

rmse_xgb = mean_squared_error(y_VAL, pred_xgb, squared=False)
print(rmse_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_rf.predict(X_TEST)

obj = {'pred':y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index = False)

    model  year transmission  mileage fuelType  tax   mpg  engineSize
0    Kuga  2017       Manual    12109   Petrol  165  45.6         1.5
1    Kuga  2018       Manual    12125   Diesel  145  54.3         1.5
2    Kuga  2016       Manual    31288   Diesel  125  60.1         2.0
3  Fiesta  2018       Manual    28528   Petrol  145  65.7         1.0
4  Fiesta  2017       Manual     2690   Petrol  145  65.7         1.0
    model  year transmission  mileage fuelType  tax   mpg  engineSize
0    Kuga  2019    Automatic     6894   Diesel  145  42.2         2.0
1    Kuga  2018    Semi-Auto     9002   Diesel  145  54.3         2.0
2    Kuga  2014       Manual    59000   Diesel  160  47.9         2.0
3  Fiesta  2017       Manual    25000   Petrol  125  54.3         1.2
4  Fiesta  2017       Manual    15612   Petrol  145  65.7         1.0
0    14450
1    17500
2    14800
3    11000
4    11330
Name: price, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13470 entries, 0 to 13469
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13470 non-null  object
 1   year          13470 non-null  int64
 2   transmission  13470 non-null  object
 3   mileage       13470 non-null  int64
 4   fuelType      13470 non-null  object
 5   tax           13470 non-null  int64
 6   mpg           13470 non-null  float64
 7   engineSize    13470 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 842.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4490 entries, 0 to 4489
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         4490 non-null   object
 1   year          4490 non-null   int64
 2   transmission  4490 non-null   object
 3   mileage       4490 non-null   int64
 4   fuelType      4490 non-null   object
 5   tax           4490 non-null   int64
 6   mpg           4490 non-null   float64
 7   engineSize    4490 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 280.8+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 13470 entries, 0 to 13469
Series name: price
Non-Null Count  Dtype
--------------  -----
13470 non-null  int64
dtypes: int64(1)
memory usage: 105.4 KB
None
               year        mileage           tax           mpg    engineSize
count  13470.000000   13470.000000  13470.000000  13470.000000  13470.000000
mean    2016.865999   23460.269488    113.532442     57.929013      1.347892
std        2.014225   19710.071423     62.385191     10.231344      0.433002
min     2000.000000       1.000000      0.000000     20.800000      0.000000
25%     2016.000000    9968.250000     30.000000     52.300000      1.000000
50%     2017.000000   18234.000000    145.000000     58.900000      1.200000
75%     2018.000000   31095.250000    145.000000     65.700000      1.500000
max     2020.000000  174000.000000    580.000000    201.800000      5.000000
              year        mileage          tax          mpg   engineSize
count  4490.000000    4490.000000  4490.000000  4490.000000  4490.000000
mean   2016.867929   23057.370824   112.731626    57.846860     1.359042
std       2.014687   18739.830661    60.793688     9.794828     0.430301
min    2003.000000       1.000000     0.000000    20.800000     0.000000
25%    2016.000000   10010.500000    30.000000    52.300000     1.000000
50%    2017.000000   18249.000000   145.000000    58.900000     1.200000
75%    2018.000000   31000.000000   145.000000    65.700000     1.600000
max    2020.000000  177644.000000   570.000000    88.300000     5.000000
count    13470.000000
mean     12266.332888
std       4731.673348
min        675.000000
25%       8999.000000
50%      11272.500000
75%      15250.000000
max      54995.000000
Name: price, dtype: float64
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
2771.029193750974
1246.4293318069542

In [45]:
# 기출복원 6회 2유형

# 데이터 불러오기

import pandas as pd

train = pd.read_csv('Airline_train.csv')
test = pd.read_csv('Airline_test.csv')

y_train = train['Satisfaction'].copy()
x_train = train.drop(columns = 'Satisfaction').copy()

x_test = test.copy()

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

# 카테고리형 컬럼 전처리

# 수치형 컬럼 전처리

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size = 0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링 : 수치형 컬럼만 별도 저장

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_TEST_conti = x_test.select_dtypes(exclude = 'object').copy()

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_conti], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_conti], axis = 1)

y_TRAIN = y_TRAIN.map({'No':0, 'Yes':1})
y_VAL = y_VAL.map({'No':0, 'Yes':1})

y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

# 모델 학습

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

xgb = XGBClassifier(max_depth = 8,
                    n_estimators = 500,
                    nthread = 4,
                    min_child_weight = 20,
                    gamma = 0.5,
                    objective = 'binary:logistic',
                    use_label_encoder = False,
                    random_state = 2022)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

from sklearn.metrics import f1_score

pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)

f1_rf = f1_score(y_VAL, pred_rf)
print(f1_rf)

f1_xgb = f1_score(y_VAL, pred_xgb)
print(f1_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_conti], axis = 1)
y_pred = model_xgb.predict(X_TEST)

obj = {'pred':y_pred}
result = pd.DataFrame(obj)
result['pred'] = result['pred'].map({0:'Satisfied', 1:'Not Satisfied'})

result.to_csv('result.csv', index = False)

   Gender      Ages Customer_Type     Class  Inflight_wifi_service  \
0  Female  [10, 20)             L  Eco Plus                      1
1  Female  [10, 20)             L       Eco                      2
2  Female  [10, 20)            NL       Eco                      2
3    Male  [10, 20)            NL       Eco                      5
4    Male  [10, 20)             L  Business                      3

   Departure_Arrival_time_convenient  Ease_of_Online_booking  Gate_location  \
0                                  3                       1              3
1                                  4                       2              4
2                                  2                       1              4
3                                  3                       5              3
4                                  3                       3              3

   Food_and_drink  Online_boarding  Seat_comfort  Inflight_entertainment  \
0               1                1             1                       1
1               1                2             1                       1
2               4                1             4                       4
3               1                5             1                       1
4               3                3             3                       3

   On_board_service  Leg_room_service  Baggage_handling  Checkin_service  \
0                 2                 1                 2                4
1                 3                 3                 4                4
2                 4                 4                 3                2
3                 2                 4                 3                1
4                 4                 2                 4                1

   Inflight_service  Cleanliness  Departure_Delay_in_Minutes  \
0                 2            1                           0
1                 4            1                           0
2                 3            4                           3
3                 1            1                           0
4                 4            3                           0

   Arrival_Delay_in_Minutes
0                         0
1                         0
2                         0
3                         0
4                         0
   Gender      Ages Customer_Type Class  Inflight_wifi_service  \
0    Male  [10, 20)             L   Eco                      4
1  Female  [10, 20)             L   Eco                      4
2  Female  [10, 20)             L   Eco                      0
3  Female  [10, 20)             L   Eco                      4
4    Male  [10, 20)             L   Eco                      1

   Departure_Arrival_time_convenient  Ease_of_Online_booking  Gate_location  \
0                                  2                       4              4
1                                  1                       5              5
2                                  3                       0              3
3                                  1                       4              4
4                                  5                       0              3

   Food_and_drink  Online_boarding  Seat_comfort  Inflight_entertainment  \
0               2                4             2                       2
1               4                4             3                       4
2               0                3             3                       4
3               2                4             2                       2
4               2                0             5                       2

   On_board_service  Leg_room_service  Baggage_handling  Checkin_service  \
0                 1                 2                 3                1
1                 5                 5                 3                4
2                 3                 4                 4                3
3                 2                 5                 4                1
4                 2                 4                 4                2

   Inflight_service  Cleanliness  Departure_Delay_in_Minutes  \
0                 4            2                          20
1                 1            4                           0
2                 2            3                         151
3                 3            2                           0
4                 3            2                           0

   Arrival_Delay_in_Minutes
0                        11
1                         0
2                       214
3                         0
4                         0
0     No
1     No
2     No
3    Yes
4     No
Name: Satisfaction, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6434 entries, 0 to 6433
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             6434 non-null   object
 1   Ages                               6434 non-null   object
 2   Customer_Type                      6434 non-null   object
 3   Class                              6434 non-null   object
 4   Inflight_wifi_service              6434 non-null   int64
 5   Departure_Arrival_time_convenient  6434 non-null   int64
 6   Ease_of_Online_booking             6434 non-null   int64
 7   Gate_location                      6434 non-null   int64
 8   Food_and_drink                     6434 non-null   int64
 9   Online_boarding                    6434 non-null   int64
 10  Seat_comfort                       6434 non-null   int64
 11  Inflight_entertainment             6434 non-null   int64
 12  On_board_service                   6434 non-null   int64
 13  Leg_room_service                   6434 non-null   int64
 14  Baggage_handling                   6434 non-null   int64
 15  Checkin_service                    6434 non-null   int64
 16  Inflight_service                   6434 non-null   int64
 17  Cleanliness                        6434 non-null   int64
 18  Departure_Delay_in_Minutes         6434 non-null   int64
 19  Arrival_Delay_in_Minutes           6434 non-null   int64
dtypes: int64(16), object(4)
memory usage: 1005.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612 entries, 0 to 1611
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             1612 non-null   object
 1   Ages                               1612 non-null   object
 2   Customer_Type                      1612 non-null   object
 3   Class                              1612 non-null   object
 4   Inflight_wifi_service              1612 non-null   int64
 5   Departure_Arrival_time_convenient  1612 non-null   int64
 6   Ease_of_Online_booking             1612 non-null   int64
 7   Gate_location                      1612 non-null   int64
 8   Food_and_drink                     1612 non-null   int64
 9   Online_boarding                    1612 non-null   int64
 10  Seat_comfort                       1612 non-null   int64
 11  Inflight_entertainment             1612 non-null   int64
 12  On_board_service                   1612 non-null   int64
 13  Leg_room_service                   1612 non-null   int64
 14  Baggage_handling                   1612 non-null   int64
 15  Checkin_service                    1612 non-null   int64
 16  Inflight_service                   1612 non-null   int64
 17  Cleanliness                        1612 non-null   int64
 18  Departure_Delay_in_Minutes         1612 non-null   int64
 19  Arrival_Delay_in_Minutes           1612 non-null   int64
dtypes: int64(16), object(4)
memory usage: 252.0+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 6434 entries, 0 to 6433
Series name: Satisfaction
Non-Null Count  Dtype
--------------  -----
6434 non-null   object
dtypes: object(1)
memory usage: 50.4+ KB
None
       Inflight_wifi_service  Departure_Arrival_time_convenient  \
count            6434.000000                        6434.000000
mean                2.737333                           3.037613
std                 1.362034                           1.547572
min                 0.000000                           0.000000
25%                 2.000000                           2.000000
50%                 3.000000                           3.000000
75%                 4.000000                           4.000000
max                 5.000000                           5.000000

       Ease_of_Online_booking  Gate_location  Food_and_drink  Online_boarding  \
count             6434.000000    6434.000000     6434.000000      6434.000000
mean                 2.799036       3.016164        3.194591         3.282872
std                  1.433383       1.292237        1.334611         1.359697
min                  0.000000       1.000000        0.000000         0.000000
25%                  2.000000       2.000000        2.000000         2.000000
50%                  3.000000       3.000000        3.000000         4.000000
75%                  4.000000       4.000000        4.000000         4.000000
max                  5.000000       5.000000        5.000000         5.000000

       Seat_comfort  Inflight_entertainment  On_board_service  \
count   6434.000000             6434.000000       6434.000000
mean       3.461921                3.379235          3.420423
std        1.320489                1.334279          1.280846
min        1.000000                0.000000          0.000000
25%        2.000000                2.000000          3.000000
50%        4.000000                4.000000          4.000000
75%        5.000000                4.000000          4.000000
max        5.000000                5.000000          5.000000

       Leg_room_service  Baggage_handling  Checkin_service  Inflight_service  \
count       6434.000000       6434.000000      6434.000000       6434.000000
mean           3.383743          3.682313         3.345197          3.671433
std            1.310823          1.159491         1.267827          1.159274
min            0.000000          1.000000         1.000000          0.000000
25%            2.000000          3.000000         3.000000          3.000000
50%            4.000000          4.000000         3.000000          4.000000
75%            4.000000          5.000000         4.000000          5.000000
max            5.000000          5.000000         5.000000          5.000000

       Cleanliness  Departure_Delay_in_Minutes  Arrival_Delay_in_Minutes
count  6434.000000                 6434.000000               6434.000000
mean      3.284426                   15.092633                 15.686820
std       1.313427                   44.029329                 44.297168
min       0.000000                    0.000000                  0.000000
25%       2.000000                    0.000000                  0.000000
50%       3.000000                    0.000000                  0.000000
75%       4.000000                   12.000000                 13.000000
max       5.000000                 1592.000000               1584.000000
       Inflight_wifi_service  Departure_Arrival_time_convenient  \
count            1612.000000                        1612.000000
mean                2.741935                           2.981390
std                 1.318033                           1.526395
min                 0.000000                           0.000000
25%                 2.000000                           2.000000
50%                 3.000000                           3.000000
75%                 4.000000                           4.000000
max                 5.000000                           5.000000

       Ease_of_Online_booking  Gate_location  Food_and_drink  Online_boarding  \
count             1612.000000    1612.000000     1612.000000       1612.00000
mean                 2.732010       2.934243        3.199752          3.23263
std                  1.386784       1.290040        1.319218          1.34302
min                  0.000000       1.000000        0.000000          0.00000
25%                  2.000000       2.000000        2.000000          2.00000
50%                  3.000000       3.000000        3.000000          3.00000
75%                  4.000000       4.000000        4.000000          4.00000
max                  5.000000       5.000000        5.000000          5.00000

       Seat_comfort  Inflight_entertainment  On_board_service  \
count   1612.000000             1612.000000       1612.000000
mean       3.445409                3.403846          3.375931
std        1.319339                1.317432          1.306097
min        1.000000                0.000000          1.000000
25%        3.000000                2.000000          2.000000
50%        4.000000                4.000000          4.000000
75%        5.000000                4.000000          4.000000
max        5.000000                5.000000          5.000000

       Leg_room_service  Baggage_handling  Checkin_service  Inflight_service  \
count       1612.000000       1612.000000      1612.000000       1612.000000
mean           3.414392          3.682382         3.276055          3.699752
std            1.306809          1.153996         1.285974          1.150575
min            0.000000          1.000000         1.000000          1.000000
25%            2.000000          3.000000         2.000000          3.000000
50%            4.000000          4.000000         3.000000          4.000000
75%            4.000000          5.000000         4.000000          5.000000
max            5.000000          5.000000         5.000000          5.000000

       Cleanliness  Departure_Delay_in_Minutes  Arrival_Delay_in_Minutes
count  1612.000000                 1612.000000               1612.000000
mean      3.310794                   15.045285                 15.887717
std       1.322886                   35.557908                 37.669515
min       0.000000                    0.000000                  0.000000
25%       2.000000                    0.000000                  0.000000
50%       3.000000                    0.000000                  0.000000
75%       4.000000                   14.000000                 15.000000
max       5.000000                  426.000000                427.000000
count     6434
unique       2
top         No
freq      3437
Name: Satisfaction, dtype: object
Gender                               0
Ages                                 0
Customer_Type                        0
Class                                0
Inflight_wifi_service                0
Departure_Arrival_time_convenient    0
Ease_of_Online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On_board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
dtype: int64
Gender                               0
Ages                                 0
Customer_Type                        0
Class                                0
Inflight_wifi_service                0
Departure_Arrival_time_convenient    0
Ease_of_Online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On_board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
dtype: int64
0.8507333908541846
0.9305439330543934

In [57]:
# 기출복원 7회 2유형

# 데이터 불러오기

import pandas as pd

train = pd.read_csv('Flight_train.csv')
test = pd.read_csv('Flight_test.csv')

print(train.head())
y_train = train['price'].copy()
x_train = train.drop(columns = 'price').copy()

x_test = test.copy()

# 정보 출력

# 불필요한 컬럼 제거

x_train = x_train.drop('flight', axis = 1)
x_test = x_test.drop('flight', axis = 1)

# 결측치 제거

print(x_train.isna().sum())
print(x_test.isna().sum())

# 카테고리형 컬럼 전처리

# 수치형 컬럼 전처리

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size = 0.2)

# 인코딩

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링 : 수치형 컬럼만 별도 저장

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_TEST_conti = x_test.select_dtypes(exclude = 'object').copy()


# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_conti], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_conti], axis = 1)

# 모델 학습

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

rf = RandomForestRegressor(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

xgb = XGBRegressor(max_depth = 8,
                    n_estimators = 500,
                    nthread = 4,
                    min_child_weight = 20,
                    gamma = 0.5,
                    objective='reg:squarederror',
                    use_label_encoder = False,
                    random_state = 2022)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

from sklearn.metrics import mean_squared_error

pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)

rmse_rf = mean_squared_error(y_VAL, pred_rf)
print(rmse_rf)

rmse_xgb = mean_squared_error(y_VAL, pred_xgb)
print(rmse_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_conti], axis = 1)
y_pred = model_xgb.predict(X_TEST)

obj = {'pred':y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index = False)

     airline   flight source_city departure_time stops arrival_time  \
0    Vistara   UK-874   Hyderabad        Morning   one    Afternoon
1  Air_India   AI-687      Mumbai      Afternoon  zero      Evening
2    Vistara   UK-830   Hyderabad        Morning   one      Morning
3   GO_FIRST   G8-803   Bangalore        Evening   one   Late_Night
4     Indigo  6E-5338      Mumbai        Morning   one    Afternoon

  destination_city     class  duration  days_left  price
0            Delhi   Economy      5.58         10  10018
1            Delhi  Business      2.25         12  30080
2          Kolkata   Economy     23.25         19   5960
3           Mumbai   Economy      7.17         37   4354
4          Kolkata   Economy      7.33          8  10406
airline             0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64
airline             0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64
100174778.9992633
25000100.51433014

In [15]:
# 기출복원 7회 2유형 다시 풀기

# 데이터 불러오기

import pandas as pd

train = pd.read_csv('Flight_train.csv')
test = pd.read_csv('Flight_test.csv')

y_train = train['price'].copy()
x_train = train.drop(columns = 'price').copy()

x_test = test.copy()

# 정보 출력

print(x_train.head())
print(x_test.head())
print(y_train.head())

print(x_train.info())
print(x_test.info())
print(y_train.info())

print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

# 불필요한 컬럼 제거

x_train = x_train.drop('flight', axis = 1)
x_test = x_test.drop('flight', axis = 1)

# 결측치 제거, 대체

print(x_train.isna().sum())
print(x_test.isna().sum())

# 카테고리형 컬럼 전처리

## 두 데이터 다른 거 없음
print(x_train.select_dtypes('object').nunique())
print(x_test.select_dtypes('object').nunique())

# 수치형 컬럼 전처리
## 거의 다 object라서 괜찮은건가

# 데이터 분할

from sklearn.model_selection import train_test_split

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(x_train, y_train, random_state = 1234, test_size = 0.2)

# 인코딩
## handle_unknown = 'ignore' 옵션 : train에 없는데 test에 존재

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = x_test.select_dtypes('object').copy()

enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

# 스케일링 : Regressor는 스케일링 필요없음

## 수치형만 저장

X_TRAIN_conti = X_TRAIN.select_dtypes(exclude='object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude='object').copy()
X_TEST_conti = x_test.select_dtypes(exclude='object').copy()

# 입력 데이터셋 준비

import numpy as np

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_conti], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_conti], axis = 1)

## y는 이미 1차원이라서 안해줘도 되나 ?

# 모델 학습

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           max_depth = 3,
                           min_samples_leaf = 10,
                           max_features = 15,
                           random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

xgb = XGBRegressor(n_estimators = 100,
                   nthread = 5,
                   min_child_weight = 20,
                   gamma = 0.5,
                   objective = 'reg:squarederror',
                   use_label_encoder = False,
                   random_state = 2024)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

# 성능 검정

## 제일 낮은거 : rmse

from sklearn.metrics import mean_squared_error

pred_rf = model_rf.predict(X_VAL)
rmse_rf = mean_squared_error(y_VAL, pred_rf, squared = False)
print(rmse_rf)

pred_xgb = model_xgb.predict(X_VAL)
rmse_xgb = mean_squared_error(y_VAL, pred_xgb, squared=False)
print(rmse_xgb)

# 결과 제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_conti], axis = 1)
y_pred = model_xgb.predict(X_TEST)

obj = {'pred':y_pred}
result = pd.DataFrame(obj)

result.to_csv('result.csv', index = False)

     airline   flight source_city departure_time stops arrival_time  \
0    Vistara   UK-874   Hyderabad        Morning   one    Afternoon
1  Air_India   AI-687      Mumbai      Afternoon  zero      Evening
2    Vistara   UK-830   Hyderabad        Morning   one      Morning
3   GO_FIRST   G8-803   Bangalore        Evening   one   Late_Night
4     Indigo  6E-5338      Mumbai        Morning   one    Afternoon

  destination_city     class  duration  days_left
0            Delhi   Economy      5.58         10
1            Delhi  Business      2.25         12
2          Kolkata   Economy     23.25         19
3           Mumbai   Economy      7.17         37
4          Kolkata   Economy      7.33          8
     airline   flight source_city departure_time stops arrival_time  \
0     Indigo  6E-6219     Chennai        Morning   one    Afternoon
1  Air_India   AI-503   Bangalore        Evening   one      Morning
2    Vistara   UK-830   Hyderabad        Morning   one      Evening
3    Vistara   UK-877      Mumbai        Morning  zero    Afternoon
4     Indigo  6E-5366      Mumbai        Morning  zero      Morning

  destination_city     class  duration  days_left
0            Delhi   Economy      4.92         10
1        Hyderabad   Economy     18.08         46
2          Chennai   Economy      6.00          4
3        Hyderabad  Business      1.50         25
4        Bangalore   Economy      1.83         26
0    10018
1    30080
2     5960
3     4354
4    10406
Name: price, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7203 entries, 0 to 7202
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           7203 non-null   object
 1   flight            7203 non-null   object
 2   source_city       7203 non-null   object
 3   departure_time    7203 non-null   object
 4   stops             7203 non-null   object
 5   arrival_time      7203 non-null   object
 6   destination_city  7203 non-null   object
 7   class             7203 non-null   object
 8   duration          7203 non-null   float64
 9   days_left         7203 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 562.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1801 entries, 0 to 1800
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           1801 non-null   object
 1   flight            1801 non-null   object
 2   source_city       1801 non-null   object
 3   departure_time    1801 non-null   object
 4   stops             1801 non-null   object
 5   arrival_time      1801 non-null   object
 6   destination_city  1801 non-null   object
 7   class             1801 non-null   object
 8   duration          1801 non-null   float64
 9   days_left         1801 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 140.8+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 7203 entries, 0 to 7202
Series name: price
Non-Null Count  Dtype
--------------  -----
7203 non-null   int64
dtypes: int64(1)
memory usage: 56.4 KB
None
          duration    days_left
count  7203.000000  7203.000000
mean     12.133993    25.891434
std       7.141223    13.565403
min       0.920000     1.000000
25%       6.670000    14.000000
50%      11.250000    26.000000
75%      16.080000    38.000000
max      39.750000    49.000000
          duration    days_left
count  1801.000000  1801.000000
mean     11.987307    25.828984
std       7.166587    13.596881
min       1.000000     1.000000
25%       6.670000    14.000000
50%      11.000000    26.000000
75%      15.830000    37.000000
max      38.330000    49.000000
count      7203.000000
mean      21072.043593
std       22674.141358
min        1105.000000
25%        4750.500000
50%        7488.000000
75%       44144.000000
max      116562.000000
Name: price, dtype: float64
airline             0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64
airline             0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64
airline             6
source_city         6
departure_time      6
stops               3
arrival_time        6
destination_city    6
class               2
dtype: int64
airline             6
source_city         6
departure_time      6
stops               3
arrival_time        6
destination_city    6
class               2
dtype: int64
6428.957621591694
4833.197464301988