<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/PART2_TextDate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 6-1. 텍스트 데이터 다루기

In [ ]:
# 1. 문자열 데이터 전처리
# startswith, endswith, contains, contains, split, find, rfind, findall, eplace, strip, lstrip, rstrip, lower, upper, swapcase
import pandas as pd

df = pd.read_csv("University_text_after.csv", encoding = 'CP949')

In [ ]:
df['주소'].str[0:5]

0     서울특별시
1     대전광역시
2     서울특별시
3     서울특별시
4     울산광역시
5     경상북도
6     서울특별시
7     서울특별시
8     서울특별시
9     서울특별시
10    광주광역시
11    경기도 수
12    서울특별시
13    서울특별시
14    서울특별시
15    대구광역시
16    울산광역시
17    부산광역시
18    경상북도
19    서울특별시
Name: 주소, dtype: object

In [ ]:
df['주소'].str.startswith("서울")

0      True
1     False
2      True
3      True
4     False
5     False
6      True
7      True
8      True
9      True
10    False
11    False
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19     True
Name: 주소, dtype: bool

In [ ]:
df[df['주소'].str.startswith("서울")]

       대학이름                     주소
0     서울대학교        서울특별시 관악구 관악로 1
2    성균관대학교    서울특별시 종로구 성균관로 25-2
3     연세대학교      서울특별시 서대문구 연세로 50
6     고려대학교      서울특별시 성북구 안암로 145
7     경희대학교     서울특별시 동대문구 경희대로 26
8     세종대학교      서울특별시 광진구 능동로 209
9     한양대학교     서울특별시 성동구 왕십리로 222
12    중앙대학교       서울특별시 동작구 흑석로 84
13  이화여자대학교    서울특별시 서대문구 이화여대길 52
14    건국대학교      서울특별시 광진구 능동로 120
19   가톨릭대학교  서울특별시 종로구 창경궁로 296-12

In [ ]:
df[~df['주소'].str.startswith("서울")]

       대학이름                      주소
1     KAIST       대전광역시 유성구 대학로 291
4     UNIST  울산광역시 울주군 언양읍 유니스트길 50
5   포항공과대학교      경상북도 포항시 남구 청암로 77
10     GIST      광주광역시 북구 첨단과기로 123
11    아주대학교    경기도 수원시 영통구 월드컵로 206
15    경북대학교         대구광역시 북구 대학로 80
16    울산대학교         울산광역시 남구 대학로 93
17    부산대학교   부산광역시 금정구 부산대학로63번길 2
18    영남대학교        경상북도 경산시 대학로 280

In [ ]:
df['대학이름'].str.endswith("대학교")

0      True
1     False
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: 대학이름, dtype: bool

In [ ]:
df['주소'].str.contains("광역시")

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16     True
17     True
18    False
19    False
Name: 주소, dtype: bool

In [ ]:
df['주소'].str.split()

0             [서울특별시, 관악구, 관악로, 1]
1           [대전광역시, 유성구, 대학로, 291]
2         [서울특별시, 종로구, 성균관로, 25-2]
3           [서울특별시, 서대문구, 연세로, 50]
4     [울산광역시, 울주군, 언양읍, 유니스트길, 50]
5         [경상북도, 포항시, 남구, 청암로, 77]
6           [서울특별시, 성북구, 안암로, 145]
7          [서울특별시, 동대문구, 경희대로, 26]
8           [서울특별시, 광진구, 능동로, 209]
9          [서울특별시, 성동구, 왕십리로, 222]
10         [광주광역시, 북구, 첨단과기로, 123]
11      [경기도, 수원시, 영통구, 월드컵로, 206]
12           [서울특별시, 동작구, 흑석로, 84]
13        [서울특별시, 서대문구, 이화여대길, 52]
14          [서울특별시, 광진구, 능동로, 120]
15            [대구광역시, 북구, 대학로, 80]
16            [울산광역시, 남구, 대학로, 93]
17      [부산광역시, 금정구, 부산대학로63번길, 2]
18           [경상북도, 경산시, 대학로, 280]
19      [서울특별시, 종로구, 창경궁로, 296-12]
Name: 주소, dtype: object

In [ ]:
df['주소'].str.find("구") # 위치값 반환

0      8
1      8
2      8
3      9
4     -1
5     10
6      8
7      9
8      8
9      8
10     7
11    10
12     8
13     9
14     8
15     1
16     7
17     8
18    -1
19     8
Name: 주소, dtype: int64

In [ ]:
df['주소'].str.rfind(sub = ' ') # 가장 뒤에서부터 (가장 높은 위치값)

0     13
1     13
2     14
3     14
4     19
5     15
6     13
7     15
8     13
9     14
10    14
11    16
12    13
13    16
14    13
15    12
16    12
17    19
18    12
19    14
Name: 주소, dtype: int64

In [ ]:
df['주소'].str.findall("\w+구")

0        [관악구]
1        [유성구]
2        [종로구]
3       [서대문구]
4           []
5         [남구]
6        [성북구]
7       [동대문구]
8        [광진구]
9        [성동구]
10        [북구]
11       [영통구]
12       [동작구]
13      [서대문구]
14       [광진구]
15    [대구, 북구]
16        [남구]
17       [금정구]
18          []
19       [종로구]
Name: 주소, dtype: object

In [ ]:
df['주소'].str.replace(" ", "_")

0            서울특별시_관악구_관악로_1
1          대전광역시_유성구_대학로_291
2        서울특별시_종로구_성균관로_25-2
3          서울특별시_서대문구_연세로_50
4     울산광역시_울주군_언양읍_유니스트길_50
5         경상북도_포항시_남구_청암로_77
6          서울특별시_성북구_안암로_145
7         서울특별시_동대문구_경희대로_26
8          서울특별시_광진구_능동로_209
9         서울특별시_성동구_왕십리로_222
10        광주광역시_북구_첨단과기로_123
11      경기도_수원시_영통구_월드컵로_206
12          서울특별시_동작구_흑석로_84
13       서울특별시_서대문구_이화여대길_52
14         서울특별시_광진구_능동로_120
15           대구광역시_북구_대학로_80
16           울산광역시_남구_대학로_93
17     부산광역시_금정구_부산대학로63번길_2
18          경상북도_경산시_대학로_280
19     서울특별시_종로구_창경궁로_296-12
Name: 주소, dtype: object

In [ ]:
df = pd.read_csv("University_text_before.csv", encoding = 'CP949')

df['주소'].str.strip(to_strip='_^!#? /%') # 선행, 후행 문자 제거

0            서울특별시 관악구 관악로 1
1          대전광역시 유성구 대학로 291
2        서울특별시 종로구 성균관로 25-2
3          서울특별시 서대문구 연세로 50
4     울산광역시 울주군 언양읍 유니스트길 50
5         경상북도 포항시 남구 청암로 77
6          서울특별시 성북구 안암로 145
7         서울특별시 동대문구 경희대로 26
8          서울특별시 광진구 능동로 209
9         서울특별시 성동구 왕십리로 222
10        광주광역시 북구 첨단과기로 123
11      경기도 수원시 영통구 월드컵로 206
12          서울특별시 동작구 흑석로 84
13       서울특별시 서대문구 이화여대길 52
14         서울특별시 광진구 능동로 120
15           대구광역시 북구 대학로 80
16           울산광역시 남구 대학로 93
17     부산광역시 금정구 부산대학로63번길 2
18          경상북도 경산시 대학로 280
19     서울특별시 종로구 창경궁로 296-12
Name: 주소, dtype: object

In [ ]:
df['주소'].str.lstrip(to_strip='_^!#? /%') # 선행만 제거

0                    서울특별시 관악구 관악로 1
1               대전광역시 유성구 대학로 291 ##
2                서울특별시 종로구 성균관로 25-2
3                  서울특별시 서대문구 연세로 50
4           울산광역시 울주군 언양읍 유니스트길 50 %
5                 경상북도 포항시 남구 청암로 77
6                  서울특별시 성북구 안암로 145
7                 서울특별시 동대문구 경희대로 26
8                  서울특별시 광진구 능동로 209
9                 서울특별시 성동구 왕십리로 222
10                광주광역시 북구 첨단과기로 123
11              경기도 수원시 영통구 월드컵로 206
12    서울특별시 동작구 흑석로 84
13               서울특별시 서대문구 이화여대길 52
14                 서울특별시 광진구 능동로 120
15        대구광역시 북구 대학로 80
16                울산광역시 남구 대학로 93___
17             부산광역시 금정구 부산대학로63번길 2
18                  경상북도 경산시 대학로 280
19             서울특별시 종로구 창경궁로 296-12
Name: 주소, dtype: object

In [ ]:
df['주소'].str.rstrip(to_strip='_^!#? /%')

0                      /!서울특별시 관악구 관악로 1
1                      대전광역시 유성구 대학로 291
2                    서울특별시 종로구 성균관로 25-2
3                      서울특별시 서대문구 연세로 50
4              ## 울산광역시 울주군 언양읍 유니스트길 50
5                     경상북도 포항시 남구 청암로 77
6                      서울특별시 성북구 안암로 145
7                     서울특별시 동대문구 경희대로 26
8                    ^!서울특별시 광진구 능동로 209
9                     서울특별시 성동구 왕십리로 222
10                    광주광역시 북구 첨단과기로 123
11                  경기도 수원시 영통구 월드컵로 206
12                      서울특별시 동작구 흑석로 84
13         __________서울특별시 서대문구 이화여대길 52
14                     서울특별시 광진구 능동로 120
15                       대구광역시 북구 대학로 80
16                       울산광역시 남구 대학로 93
17                 부산광역시 금정구 부산대학로63번길 2
18                      경상북도 경산시 대학로 280
19                 서울특별시 종로구 창경궁로 296-12
Name: 주소, dtype: object

In [ ]:
# 6-2. 날짜 시간 데이터 다루기

In [ ]:
# 1. 데이터 타입
# pandas.to_datetime(arg, formal=None, ...)

df = pd.read_csv("University_date.csv", encoding = 'CP949')

In [ ]:
df['창립일']

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [ ]:
pd.to_datetime(df['창립일'])

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(df['창립일'], format = "%Y-%m-%d")

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [ ]:
df['창립일'] = pd.to_datetime(df['창립일'])

In [ ]:
# pandas.date_range(start, end=None, periods=None, freq='D', ...)

In [ ]:
pd.date_range("2000-01-01", "2000-01-10")

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range("2000-01-01", periods = 3)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range("2000-01-01", periods = 5, freq="m")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
# Y M W D h m s ms us/us ns ps fs as

In [ ]:
# 2. 데이터 전처리
# date, year, month, month_name(), day, weekday, day_name(), quarter, weekofyear, dayofyear, time, hour, minute, second

In [ ]:
df['창립일'] = pd.to_datetime(df['창립일'])
df['창립일'].dt.date

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [ ]:
df['창립일'].dt.year

0    1946
1    1971
2    2007
3    1986
4    1905
5    1993
6    1946
7    1969
8    1946
Name: 창립일, dtype: int32

In [ ]:
df['창립일'].dt.month

0    10
1     2
2     9
3    12
4     5
5    11
6     5
7    12
8     5
Name: 창립일, dtype: int32

In [ ]:
df['창립일'].dt.month_name()

0      October
1     February
2    September
3     December
4          May
5     November
6          May
7     December
8          May
Name: 창립일, dtype: object

In [ ]:
df['창립일'].dt.day

0    15
1    16
2     3
3     3
4     5
5    17
6    15
7    24
8    15
Name: 창립일, dtype: int32

In [ ]:
df['창립일'].dt.weekday # 요일번호

0    1
1    1
2    0
3    2
4    4
5    2
6    2
7    2
8    2
Name: 창립일, dtype: int32

In [ ]:
df['창립일'].dt.day_name()

0      Tuesday
1      Tuesday
2       Monday
3    Wednesday
4       Friday
5    Wednesday
6    Wednesday
7    Wednesday
8    Wednesday
Name: 창립일, dtype: object

In [ ]:
df['창립일'].dt.quarter  # 분기

0    4
1    1
2    3
3    4
4    2
5    4
6    2
7    4
8    2
Name: 창립일, dtype: int32

In [ ]:
# df['창립일'].dt.weekofyear

AttributeError: 'DatetimeProperties' object has no attribute 'weekofyear'

In [ ]:
df['창립일'].dt.dayofyear # 연도기준 일

0    288
1     47
2    246
3    337
4    125
5    321
6    135
7    358
8    135
Name: 창립일, dtype: int32

In [ ]:
df['창립일'].dt.daysinmonth

0    31
1    28
2    30
3    31
4    31
5    30
6    31
7    31
8    31
Name: 창립일, dtype: int32

In [ ]:
sr = pd.Series(pd.date_range("2022-06-01 16:30:05", periods = 5, freq = 's'))
sr

0   2022-06-01 16:30:05
1   2022-06-01 16:30:06
2   2022-06-01 16:30:07
3   2022-06-01 16:30:08
4   2022-06-01 16:30:09
dtype: datetime64[ns]

In [ ]:
sr.dt.time

0    16:30:05
1    16:30:06
2    16:30:07
3    16:30:08
4    16:30:09
dtype: object

In [ ]:
sr.dt.hour

0    16
1    16
2    16
3    16
4    16
dtype: int32

In [ ]:
sr.dt.minute

0    30
1    30
2    30
3    30
4    30
dtype: int32

In [56]:
sr.dt.second

0    5
1    6
2    7
3    8
4    9
dtype: int32