<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/%EB%A7%88%EC%A7%80%EB%A7%89_%EC%97%B0%EC%8A%B5%EB%B0%9C%EC%95%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# 기출 2회

import pandas as pd
df = pd.read_csv('mtcars2.csv')

# mpg컬럼의 상위 10번째 값으로 상위 10개 값을 변환한 후
# drat가 4이상인 값에 대해 mpg의 평균을 구하여라
# 셋째 자리까지

mpg = df['mpg']
top10 = mpg.sort_values(ascending=False).values[9]
idx = mpg.sort_values(ascending = False)[:10].index
mpg[idx] = top10

drat = df['drat']
result = df[drat >= 4].mpg.mean()
print(round(result, 3))

20.671

<ipython-input-24-27102af3778a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg[idx] = top10

In [37]:
import pandas as pd
df = pd.read_csv('mtcars2.csv')

# 첫 번째 행부터 순서대로 80% 까지의 데이터를 훈련데이터로 추출한 후
# disp 컬럼의 결측값을 disp 컬럼의 중앙값으로 대체하고
# 대체 전 후의 disp 변수의 표준편차 값의 차이를 구하여라
# 셋째자리까지
# 절댓값

df = df.iloc[:int(len(df)*0.8)].copy()

before = df.disp.std()

med = df.disp.median()
df['disp'] = df['disp'].fillna(med)
after = df.disp.std()

diff = abs(before - after)
print(round(diff,3))

7.966

In [46]:
import pandas as pd
df = pd.read_csv('gehan.csv')
print(df.head())

# time 컬럼에서 이상값의 합을 구하여라
# 정수
# 이상값은 평균에서 1.5 표준편차 이상으로 벗어난 값

avg = df.time.mean()
sd = df.time.std()
cond = avg + 1.5*sd
cond2 = avg - 1.5*sd

cond3 = df.loc[(df['time'] > cond)| (df['time'] < cond2)].time.sum()

print(cond3.astype('int64'))

   pair  time  cens    treat
0     1     1     1  control
1     1    10     1     6-MP
2     2    22     1  control
3     2     7     1     6-MP
4     3     3     1  control
133

In [54]:
# 기출 3회

import pandas as pd
df = pd.read_csv('economics.csv')
print(df.head())

train = df.iloc[:int(len(df)*0.7)].copy()
result = train['pce'].quantile(0.25)
print(result.astype('int64'))

         date    pce       pop  psavert  uempmed  unemploy
0  1967-07-01  506.7  198712.0     12.6      4.5      2944
1  1967-08-01  509.8  198911.0     12.6      4.7      2945
2  1967-09-01  515.6  199113.0     11.9      4.6      2958
3  1967-10-01  512.2  199311.0     12.9      4.9      3143
4  1967-11-01  517.4  199498.0     12.8      4.7      3066
1075

In [72]:
import pandas as pd
df = pd.read_csv('Hitters.csv')

# Years 컬럼이 10인 데이터 추출
# HmRun 컬럼이 평균보다 큰 선수가 몇 명인지 계산

cond = df[df['Years']==10]
avg = cond.HmRun.mean()
cond2 = cond['HmRun']>avg
result = cond2.value_counts()
print(result)

HmRun
False    8
True     6
Name: count, dtype: int64

In [73]:
import pandas as pd
df = pd.read_csv('msleep.csv')

# 가장 결측치가 많은 컬럼 이름

print(df.isna().sum())

name             0
genus            0
vore             7
order            0
conservation    29
sleep_total      0
sleep_rem       22
sleep_cycle     51
awake            0
brainwt         27
bodywt           0
dtype: int64

In [78]:
# 기출 4회

import pandas as pd
df = pd.read_csv('Cars93.csv')

# Turn_circle 컬럼에 대하여 수행
# 제 1사분위수, 2사분위수
# 두 개의 차이 절댓값
# 소수 버리기

q1 = df['Turn_circle'].quantile(0.25)
q2 = df['Turn_circle'].quantile(0.5)
diff = abs(q1-q2)
print(diff)

2.0

In [83]:
import pandas as pd
df = pd.read_csv('facebook_subset.csv')
print(df.head())

# 좋아요 받은 전체 수 중
# 모바일에서 좋아요 받은 비율
# 그 비율이 0.6보다 크고 0.7보다 작으면서
# 성별이 남자인 경우의 레코드 수 / 정수

df['ratio'] = df['mobile_likes_received'] / (df['mobile_likes_received']+df['www_likes_received'])
cond = df['gender'] == 'male'
cond2 = ((df['ratio'] > 0.6) & (df['ratio'] < 0.7))
result = df[cond & cond2].shape[0]
print(result)

    userid  age  dob_day  dob_year  dob_month  gender  tenure  friend_count  \
0  1988963   18       23      1995          9    male     608           502
1  1721951   22       23      1991          4    male     501           501
2  1215753   19       12      1994          8    male     392           512
3  1862120   41       17      1972          6    male     413           509
4  1772104   16       20      1997         12  female     581           511

   friendships_initiated  likes  likes_received  mobile_likes  \
0                    326    101               5            13
1                    411    104             134            14
2                    402    102              82           102
3                    412    111              59             0
4                    363    111              93             0

   mobile_likes_received  www_likes  www_likes_received
0                      0         88                   5
1                     88         90                  46
2                     68          0                  14
3                      7        111                  52
4                     19        111                  74
208

In [113]:
import pandas as pd
df = pd.read_csv('netflix_subset.csv', encoding='cp949')
print(df.head())

# 2021년 1월에 등록되었으면서
# listed_in이 오직 Drama인 경우의 레코드 수를 구하여라

df['date_added'] = pd.to_datetime(df['date_added'])
year = df['date_added'].dt.year
month = df['date_added'].dt.month
cond = (year == 2021) & (month == 1)
cond2 = df['listed_in'] == 'Dramas'
result = df[cond&cond2].shape[0]
print(result)

  show_id     type                          title  \
0      s1    Movie           Dick Johnson Is Dead
1      s8    Movie                        Sankofa
2      s9  TV Show  The Great British Baking Show
3     s10    Movie                   The Starling
4     s16  TV Show              Dear White People

                                                cast  \
0                                                NaN
1  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
2  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
3  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
4  Logan Browning, Brandon P. Bell, DeRon Horton,...

                                             country date_added  release_year  \
0                                      United States  25-Sep-21          2020
1  United States, Ghana, Burkina Faso, United Kin...  24-Sep-21          1993
2                                     United Kingdom  24-Sep-21          2021
3                                      United States  24-Sep-21          2021
4                                      United States  22-Sep-21          2021

  rating   duration                                         listed_in
0  PG-13     90 min                                     Documentaries
1  TV-MA    125 min  Dramas, Independent Movies, International Movies
2  TV-14  9 Seasons                      British TV Shows, Reality TV
3  PG-13    104 min                                  Comedies, Dramas
4  TV-MA  4 Seasons                            TV Comedies, TV Dramas
4

<ipython-input-113-1c7c10da944a>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_added'] = pd.to_datetime(df['date_added'])

In [123]:
# 기출 5회

import pandas as pd
df = pd.read_csv('전국_종량제봉투_가격표준.csv', encoding='cp949')
print(df.head())

# 전국의 2L 음식물쓰레기 규격봉투의 평균 가격
# 정수 소수 버리기
# 가격이 0원인 경우 평균계산 제외

cond = ((df['종량제봉투종류'] == '규격봉투')&(df['종량제봉투용도'] == '음식물쓰레기'))
cond2 = df['2L가격'] != 0
result = df[cond&cond2]['2L가격'].mean()
print(result)

   시도명 시군구명 종량제봉투종류 종량제봉투처리방식 종량제봉투용도 종량제봉투사용대상  1L가격  1.5L가격  2L가격  2.5L가격  \
0  경기도  안양시    규격봉투       매립용   생활쓰레기      사업장용     0       0     0       0
1  경기도  안양시    규격봉투       매립용   생활쓰레기        기타     0       0     0       0
2  경기도  안양시    규격봉투       소각용  음식물쓰레기       가정용     0      50     0      80
3  경기도  안양시    규격봉투       소각용  음식물쓰레기      사업장용     0      50     0      80
4  경기도  안양시    규격봉투       소각용  음식물쓰레기        기타     0      50     0      80

   ...  5L가격  10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0  ...   150    300    550      0   1400      0   2100       0       0       0
1  ...   150    300    550      0   1400      0   2100       0       0       0
2  ...   150    300    550      0      0      0      0       0       0       0
3  ...   150    300    550      0      0      0      0       0       0       0
4  ...   150    300    550      0      0      0      0       0       0       0

[5 rows x 21 columns]
119.32692307692308

In [146]:
import pandas as pd
df = pd.read_csv('bmi.csv', encoding='cp949')
print(df.info())

# bmi 계산
# 정상체중에 속하는 인원과 과체중에 속하는 인원의 차이 절댓값
# 몸무게 / 키의 제곱
# 정수로만 소수 버림

df['bmi'] = df['Weight'] / ((df['Height']/100)**2)
cond = df[(df['bmi'] >= 18.5) & (df['bmi'] < 23.0)].shape[0]
cond2 = df[(df['bmi'] >= 23.0) & (df['bmi'] < 25.0)].shape[0]
diff = abs(cond - cond2)
print(diff)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    float64
 2   Weight  500 non-null    float64
dtypes: float64(2), object(1)
memory usage: 11.8+ KB
None
130

In [173]:
import pandas as pd
df = pd.read_csv('2022_부산초등학교_전출입학생현황.csv', encoding='cp949')

# 순전입학생의 수가 가장 많은 순전입학교의 전체학생수를 입력
# 순전입학생 = 총 전입학생 수 - 총 전출학생 수
# 순전입학교 = 총 전출학생 수 < 총 전입학생 수

df = df[df.전출학생수합계 < df.전입학생수합계]
df['cond2'] = (df.전입학생수합계 - df.전출학생수합계)
cond2 = df.loc[df['cond2'].idxmax()]
print(cond2)

학교명         해빛초등학교
설립구분            공립
1학년전입학생수         7
1학년전출학생수         3
1학년전체학생수       163
2학년전입학생수       104
2학년전출학생수         4
2학년전체학생수        98
3학년전입학생수       108
3학년전출학생수         1
3학년전체학생수       105
4학년전입학생수        91
4학년전출학생수         2
4학년전체학생수        84
5학년전입학생수        81
5학년전출학생수         1
5학년전체학생수        76
6학년전입학생수        56
6학년전출학생수         1
6학년전체학생수        51
전입학생수합계        447
전출학생수합계         12
전체학생수합계        577
cond2          435
Name: 303, dtype: object

In [185]:
# 기출 6회

import pandas as pd
df = pd.read_csv('sejong_fire.csv', encoding='cp949')
print(df.head())

# 접수시간으로부터 상황종료시간까지 소요되는 시간을 화재진압시간
# 10년 중 화재진압시간이 가장 오래 걸린 서센터의 10년 간의 평균 화재 진압시간 입력

df['상황종료일시'] = pd.to_datetime(df['상황종료일시'])
df['접수일시'] = pd.to_datetime(df['접수일시'])
df['화재진압시간'] = (df['상황종료일시'] - df['접수일시']).dt.total_seconds()/ 60

cond = df['화재진압시간'].idxmax()
print(df['서센터명'][cond])
result = df[df['서센터명'] == '조치원119구조대'].화재진압시간.mean()
print(result)

     관할서명        서센터명      화재구분              접수일시            상황종료일시
0  조치원소방서   전의119안전센터      기타화재  2012-08-28 16:36  2012-08-28 17:09
1  조치원소방서  조치원119안전센터      기타화재  2012-07-14 23:41   2012-07-15 0:10
2  조치원소방서  조치원119안전센터  일반화재(주택)  2012-07-15 14:26  2012-07-15 14:50
3  조치원소방서  조치원119안전센터      대형화재   2012-07-16 1:36   2012-07-16 2:58
4  조치원소방서  조치원119안전센터  일반화재(주택)  2012-07-29 12:50  2012-07-29 13:44
조치원119구조대
1573.1029411764705

In [212]:
import pandas as pd
df = pd.read_csv('busan_school_Info.csv', encoding='cp949')
print(df.head())

# 전체 학생 수 대비 교사의 비율이 가장 높은 학교의 교사 수

ratio = df.iloc[:,1:7].sum(axis = 1) / df['teacher']
cond = df['teacher'][ratio.argmax()]
print(cond)

  school_name  student_1  student_2  student_3  student_4  student_5  \
0      광일초등학교         43         36         35         51         65
1      남성초등학교         86        100         99         71         78
2      대남초등학교         46         70         49         40         62
3      대연초등학교        132        135        151        156        179
4      대천초등학교         90        106         84        106        126

   student_6  teacher
0         60       16
1         49       22
2         56       20
3        171       45
4        118       34
24

In [233]:
import pandas as pd
df = pd.read_csv('five_crime.csv', encoding='cp949')
print(df.head())

# 연도별 범죄 총 발생건수의 월평균이
# 가장 큰 연도의 월평균 폭력검거 건수

df['연월'] = df['연월'].str.replace(' ','')
df['연월'] = df['연월'].str.replace('월','')
df['year'] = df['연월'].str[:4]
df['month'] = df['연월'].str[5:7]

df['총발생건수'] = df.iloc[:,range(1,11,2)].sum(axis=1)
avg = df.groupby('year').총발생건수.mean()
cond = avg.idxmax()
result = df[df['year'] == cond]['폭력_검거건수'].mean()
print(result)

           연월  살인_발생건수  살인_검거건수  강도_발생건수  강도_검거건수  강간_강제추행_발생건수  강간_강제추행_검거건수  \
0  2008. 01 월       19       18       49       49           191           186
1  2008. 02 월        9        9       43       36           184           182
2  2008. 03 월       14       10       78       75           262           255
3  2008. 04 월       19       20      102       88           276           262
4  2008. 05 월       23       23       79       71           297           290

   절도_발생건수  절도_검거건수  폭력_발생건수  폭력_검거건수
0     1870     1166     5534     5342
1     1733      996     4534     4341
2     2374     1687     5690     5464
3     2513     1744     6080     5843
4     2406     1375     6427     6135
4884.166666666667

In [258]:
# 기출 7회

import pandas as pd
df = pd.read_csv('test_score.csv', encoding='cp949')
print(df.head())

# 응시자가 가장 많은 연령대의
# 기본 간호학 과목 점수를 표준화하여 가장 높은 값

max_age = df['연령대'].value_counts().idxmax()
cond = (df['연령대'] == max_age)&(df['과목명'] == '기본간호학')
result = (df[cond]['과목별점수'] - df[cond]['과목별점수'].mean()) / df[cond]['과목별점수'].std()
result = result.max()
print(result)

     연도                                     직종    회차  일련번호        과목명  과목별점수  \
0  2023  간호사                                    63.0     1    지역사회간호학    0.0
1  2023  간호사                                    63.0     1      아동간호학    0.0
2  2023  간호사                                    63.0     1      성인간호학    0.0
3  2023  간호사                                    63.0     1  보건의약관계 법규    0.0
4  2023  간호사                                    63.0     1      기본간호학    0.0

    총점 합격여부 성별  연령대
0  0.0   결시  여   50
1  0.0   결시  여   50
2  0.0   결시  여   50
3  0.0   결시  여   50
4  0.0   결시  여   50
0.5979741854838708

In [267]:
import pandas as pd
df = pd.read_csv('diabetes.csv', encoding='cp949')
print(df.head())

# progression 컬럼과 다른 컬럼들 간의 모든 상관관계 중
# 가장 상관관계가 큰 컬럼의 최댓값

co = df.corr()['progression'].abs().sort_values(ascending=False)
print(df[co.index[1]].max())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  progression
0 -0.002592  0.019907 -0.017646        151.0
1 -0.039493 -0.068332 -0.092204         75.0
2 -0.002592  0.002861 -0.025930        141.0
3  0.034309  0.022688 -0.009362        206.0
4 -0.002592 -0.031988 -0.046641        135.0
0.170555225980644

In [276]:
import pandas as pd
df = pd.read_csv('iris.csv', encoding='cp949')
print(df.head())

# sepla_length 컬럼의 이상치 갯수를
# 결측치는 중앙값으로
# 구간 벗어나기

med = df['sepal_length'].median()
df['sepal_length'] = df['sepal_length'].fillna(med)

q1 = df['sepal_length'].quantile(0.25)
q3 = df['sepal_length'].quantile(0.75)
iqr = q3 - q1

result = df[(df['sepal_length'] > q3+1.5*iqr)|(df['sepal_length'] < q1-1.5*iqr)]
print(result.shape[0])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5