<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/PART2_MissingvalueOuter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 5. 결측치와 이상치

import pandas as pd

In [ ]:
# 5-1. 결측치

In [15]:
# 1. 결측치 인식

obj = {'student_id' : ['s1', 's2', 's3', 's4', 's5', 's6'],
       'score' : [55, 90, 85, 10, 88, 99],
       'math_score' : [55, 90, 85, 71, 63, 99],
       'sex' : ['f', 'f', 'f', 'm', 'm', 'm'],
       'pre_level' : ['B', 'A', 'B', 'B', 'C', None]
       }
df = pd.DataFrame(obj)

print(df.isnull())
print(df.isna())
print(df.isnull().sum())
print(df.isnull().sum(axis=1))

   student_id  score  math_score    sex  pre_level
0       False  False       False  False      False
1       False  False       False  False      False
2       False  False       False  False      False
3       False  False       False  False      False
4       False  False       False  False      False
5       False  False       False  False       True
   student_id  score  math_score    sex  pre_level
0       False  False       False  False      False
1       False  False       False  False      False
2       False  False       False  False      False
3       False  False       False  False      False
4       False  False       False  False      False
5       False  False       False  False       True
student_id    0
score         0
math_score    0
sex           0
pre_level     1
dtype: int64
0    0
1    0
2    0
3    0
4    0
5    1
dtype: int64

In [7]:
# 2. 결측치 처리

print(df.dropna())
print(df.dropna(axis=1))

# 선택한 컬럼에서 결측인 요소 제거
print(df['score'].dropna())
print(df[['score', 'math_score']].dropna())

# 숫자형 컬럼만 추출
df1 = df['score'].copy()
print(df1)

# 결측치 0으로
print(df1.fillna(0))

# 결측치를 평균으로 대치
print(df1.fillna(df1.mean()))

  student_id  score  math_score sex pre_level
0         s1   55.0          55   f         B
1         s2   90.0          90   f         A
2         s3   85.0          85   f         B
3         s4   71.0          71   m         B
4         s5   63.0          63   m         C
  student_id  math_score sex
0         s1          55   f
1         s2          90   f
2         s3          85   f
3         s4          71   m
4         s5          63   m
5         s6          99   m
0    55.0
1    90.0
2    85.0
3    71.0
4    63.0
Name: score, dtype: float64
   score  math_score
0   55.0          55
1   90.0          90
2   85.0          85
3   71.0          71
4   63.0          63
0    55.0
1    90.0
2    85.0
3    71.0
4    63.0
5     NaN
Name: score, dtype: float64
0    55.0
1    90.0
2    85.0
3    71.0
4    63.0
5     0.0
Name: score, dtype: float64
0    55.0
1    90.0
2    85.0
3    71.0
4    63.0
5    72.8
Name: score, dtype: float64

In [ ]:
# 5-2. 이상치

In [16]:
# 1. 이상치 인식과 제거

# 사분위수를 이용하여 한 컬럼에 대해 이상치 판별하고 행 제거

q1 = df['score'].quantile(0.25)
q3 = df['score'].quantile(0.75)

iqr = q3 - q1
lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

print(df[(df['score'] < lower) | (df['score'] > upper)])

print(df[(df['score'] < lower) & (df['score'] > upper)])

  student_id  score  math_score sex pre_level
3         s4     10          71   m         B
Empty DataFrame
Columns: [student_id, score, math_score, sex, pre_level]
Index: []