<a href="https://colab.research.google.com/github/xxoznge/Bigdata_Analyst_Certificate_Korean/blob/main/PART2_DataCombineSummarize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 4-1. 데이터 결합

In [8]:
# 1. 데이터 결합
# pandas.concat(objs, axis=0,...)
import pandas as pd

obj = {'student_id' : ['s1', 's2', 's3', 's4', 's5', 's6'],
       'score' : [55, 90, 85, 71, 63, 99]}
df = pd.DataFrame(obj)

obj2 = {'student_id' : ['t1', 't2', 't3', 't4', 't5', 't6'],
       'score' : [55, 90, 85, 71, 63, 99]}
df2 = pd.DataFrame(obj2)

print(pd.concat([df, df2]))
print(pd.concat([df, df2], axis=1))

  student_id  score
0         s1     55
1         s2     90
2         s3     85
3         s4     71
4         s5     63
5         s6     99
0         t1     55
1         t2     90
2         t3     85
3         t4     71
4         t5     63
5         t6     99
  student_id  score student_id  score
0         s1     55         t1     55
1         s2     90         t2     90
2         s3     85         t3     85
3         s4     71         t4     71
4         s5     63         t5     63
5         s6     99         t6     99

In [9]:
# 2. 데이터 병합
# 데이터프레임객체.merge(right, how = 'inner', on = None, ...)

print(df.merge(df2, on = 'student_id'))                # 공통 학생들의 점수만 합쳐짐 / inner가 기본
print(df.merge(df2, how = 'outer', on = 'student_id')) # 모든 학생들의 점수가 합쳐짐
print(df.merge(df2, how = 'left', on = 'student_id'))  # df에 있는 학생들의 점수들만 반환
print(df.merge(df2, how = 'right', on = 'student_id')) # df2에 있는 학생들의 점수들만 반환

Empty DataFrame
Columns: [student_id, score_x, score_y]
Index: []
   student_id  score_x  score_y
0          s1     55.0      NaN
1          s2     90.0      NaN
2          s3     85.0      NaN
3          s4     71.0      NaN
4          s5     63.0      NaN
5          s6     99.0      NaN
6          t1      NaN     55.0
7          t2      NaN     90.0
8          t3      NaN     85.0
9          t4      NaN     71.0
10         t5      NaN     63.0
11         t6      NaN     99.0
  student_id  score_x  score_y
0         s1       55      NaN
1         s2       90      NaN
2         s3       85      NaN
3         s4       71      NaN
4         s5       63      NaN
5         s6       99      NaN
  student_id  score_x  score_y
0         t1      NaN       55
1         t2      NaN       90
2         t3      NaN       85
3         t4      NaN       71
4         t5      NaN       63
5         t6      NaN       99

In [ ]:
# 4-2. 데이터 요약

In [21]:
# 1. 그룹별 통계 요약
# 데이터프레임객체.groupby(by,as_index=True, ...)

obj = {'student_id' : ['s1', 's2', 's3', 's4', 's5', 's6'],
       'score' : [55, 90, 85, 71, 63, 99],
       'math_score' : [55, 90, 85, 71, 63, 99],
       'sex' : ['f', 'f', 'f', 'm', 'm', 'm'],
       'pre_level' : ['B', 'A', 'B', 'B', 'C', 'A']
       }
df = pd.DataFrame(obj)
print(df)

n = ['score', 'math_score']

print(df.groupby('sex')[n].mean())
print(df.groupby('sex', as_index=False)[n].mean())
print(df.groupby(['sex','pre_level'], as_index=False)[n].mean())
print(df.groupby('sex', as_index=False)[n].describe())

  student_id  score  math_score sex pre_level
0         s1     55          55   f         B
1         s2     90          90   f         A
2         s3     85          85   f         B
3         s4     71          71   m         B
4         s5     63          63   m         C
5         s6     99          99   m         A
         score  math_score
sex
f    76.666667   76.666667
m    77.666667   77.666667
  sex      score  math_score
0   f  76.666667   76.666667
1   m  77.666667   77.666667
  sex pre_level  score  math_score
0   f         A   90.0        90.0
1   f         B   70.0        70.0
2   m         A   99.0        99.0
3   m         B   71.0        71.0
4   m         C   63.0        63.0
  sex score                                                     math_score  \
      count       mean        std   min   25%   50%   75%   max      count
0   f   3.0  76.666667  18.929694  55.0  70.0  85.0  87.5  90.0        3.0
1   m   3.0  77.666667  18.903263  63.0  67.0  71.0  85.0  99.0        3.0


        mean        std   min   25%   50%   75%   max
0  76.666667  18.929694  55.0  70.0  85.0  87.5  90.0
1  77.666667  18.903263  63.0  67.0  71.0  85.0  99.0

In [24]:
# 데이터프레임객체.agg(func)

import numpy as np

n = ['score', 'math_score']

print(df.groupby('sex')[n].agg([np.mean, sum]))

print(df.groupby('sex', as_index=False).agg({'score':np.mean, 'math_score':sum}))

print(df.groupby('sex', as_index=False).agg({'score':[np.mean,np.median],
                                      'math_score': [sum,max]}))

         score      math_score
          mean  sum       mean  sum
sex
f    76.666667  230  76.666667  230
m    77.666667  233  77.666667  233
  sex      score  math_score
0   f  76.666667         230
1   m  77.666667         233
  sex      score        math_score
            mean median        sum max
0   f  76.666667   85.0        230  90
1   m  77.666667   71.0        233  99

In [25]:
# 2. 데이터에 함수 적용하기

print(df['pre_level'].map({'A':0, 'B':1, 'C':2}))
print(df['sex'].map({'f':'여자', 'm':'남자'}))

0    1
1    0
2    1
3    1
4    2
5    0
Name: pre_level, dtype: int64
0    여자
1    여자
2    여자
3    남자
4    남자
5    남자
Name: sex, dtype: object

In [27]:
def f(x):
  return x ** 2 + 2*x - 5000

df['score'].map(f)

0   -1865
1    3280
2    2395
3     183
4    -905
5    4999
Name: score, dtype: int64

In [32]:
# 데이터프레임객체.apply(func.axis=0,)

print(df[['score','math_score']].apply(np.sum))

print(df[['score','math_score']].apply(np.sum, axis=1))

print(df[['score','math_score']].sum())

print(df[['score','math_score']].sum(axis=1))

score         463
math_score    463
dtype: int64
0    110
1    180
2    170
3    142
4    126
5    198
dtype: int64
score         463
math_score    463
dtype: int64
0    110
1    180
2    170
3    142
4    126
5    198
dtype: int64